<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzq.back.dao.CustomerInfoDao" >
  <resultMap id="BaseResultMap" type="com.zzq.back.entity.CustomerInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="mobile" property="mobile" jdbcType="CHAR" />
    <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, sex, mobile, detail_address, remark
  </sql>
  <select id="selectCustomerInfoByParam" resultMap="BaseResultMap" parameterType="com.zzq.back.entity.CustomerInfo">
  	select 
    <include refid="Base_Column_List" />
    from t_customer_info 
    <where>
    	1=1
    	<if test="name != null and name !=''">
    		and name = #{name,jdbcType=VARCHAR}
    	</if>
    	<if test="sex != null">
    		and sex = #{sex,jdbcType=BIT}
    	</if>
    	<if test="mobile != null and mobile !=''">
    		and mobile = #{mobile,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
  <insert id="insertSelective" parameterType="com.zzq.back.entity.CustomerInfo" useGeneratedKeys="true" keyProperty="id">
    insert into t_customer_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="detailAddress != null" >
        detail_address,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=CHAR},
      </if>
      <if test="detailAddress != null" >
        #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_customer_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_customer_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.zzq.back.entity.CustomerInfo" >
    insert into t_customer_info (id, name, sex, mobile, 
      detail_address, remark)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{mobile,jdbcType=CHAR}, 
      #{detailAddress,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzq.back.entity.CustomerInfo" >
    update t_customer_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=CHAR},
      </if>
      <if test="detailAddress != null" >
        detail_address = #{detailAddress,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzq.back.entity.CustomerInfo" >
    update t_customer_info
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      mobile = #{mobile,jdbcType=CHAR},
      detail_address = #{detailAddress,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>