.image {
    text-align: center;
    width: 15%;
   /* padding: 10px;*/
}
.avatar{
   text-align: center;
    width: 15%;
}
.center {
    text-align: center;
    width: 10%;
}
.centers {
    text-align: center;
}
.little {
    text-align: center;
    width: 5%;
}
.main-content .page-content h3 {
    text-transform: capitalize !important;
}

.table th {
    text-transform: capitalize !important;
}

.groups {
    margin-bottom: -50px;
    padding: 5px 5px 0;
}
.group {
    margin-top: -7px;
    margin-bottom: -7px;
}
.icheck-inline{
    line-height: 30px;
}
.icheck-inline label{
    cursor: pointer;
}
.form-control.form-success{
    color: #18a689 !important;
    font-style:normal !important;
 }
