<!DOCTYPE HTML>
<html>
<head>
    <title>今日头条广告投放</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="效先广告是今日头条的广告代理商，为广告主提供精准的Feed信息流广告投放，广告优化服务，提供效果广告推广方案。" />
    <meta name="keywords" content="今日头条,代理商,竞价广告,广告合作,广告投放,自营广告,广告平台,广告价格,广告刊例,广告样式,信息流广告,feed广告,效先" />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <meta name="robots" content="all">
    <meta name="author" contect="今日头条广告">
    <!--360-->
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://toutiao.toproi.cn/images/jinritoutiao.jpg"/>
    <meta property="og:release_date" content="2017-10-03"/>
    <meta property="og:title" content="今日头条信息流广告投放"/>
    <meta property="og:description" content="今日头条,代理商,竞价广告,广告合作,广告投放,自营广告,广告平台,广告价格,广告刊例,广告样式,信息流广告,feed广告,效先"/>
    <!--360-->
    <meta property="og:url" content="http://toutiao.toproi.cn/">
    <meta property="og:site_name" content="今日头条信息流广告投放">
    <meta name="format-detection" content="telephone=no">
    <meta name="applicable-device" content="pc,mobile">

    <style type="text/css">
        .ttt {color: #038fd8}
        .ttt2 {color: #e20308; font-size:16px;}
    </style>
    <script src="jquery.min.js"></script>
    <script src="config.js"></script>
    <script src="skel.min.js"></script>
    <link rel="stylesheet" href="ui-dialog.css" />
    <noscript>
        <link rel="stylesheet" href="http://img.appho.cn/toutiao/css/skel-noscript.css" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="http://img.appho.cn/toutiao/css/style-desktop.css" />
    </noscript>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="http://img.appho.cn/toutiao/css/ie9.css" />

    <!--[if lte IE 8]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" href="http://img.appho.cn/toutiao/css/ie8.css" />

    <!--[if lte IE 7]>
    <link rel="stylesheet" href="http://img.appho.cn/toutiao/css/ie7.css" />
-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d966bffcf509a00903f6eb8eed561208";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<!-- Nav -->
<nav id="nav">
    <ul>
        <li>
            <a href="#top" id="01" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-菜单-回顶部'])">回顶部</a>
        </li>
        <li>
            <a href="#work" id="02" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-菜单-特点'])">头条特点</a>
        </li>
        <li>
            <a href="#portfolio" id="03" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-菜单-案例'])">案例</a>
        </li>
        <li>
            <a href="yangshi.html" id="07" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-菜单-样式'])">广告样式</a>
        </li>
        <li>
            <a href="houtai.html" id="06" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-菜单-广告后台'])">广告后台</a>
        </li>
        <li>
            <a href="youhua.html" id="05" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-菜单-优化'])">广告优化</a>
        </li>
        <li>
            <a href="kanli.html" id="09" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-菜单-价格'])">价格</a>
        </li>
        <li>
            <a href="shenqing/shenqing.html" id="10" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-菜单-申请'])">
                <span class="ttt2">申请头条广告</span>
            </a>
        </li>
        <li>
            <a href="shenhe.html" id="06" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-菜单-资质要求'])">资质.审核.素材</a>
        </li>
        <li>
            <a href="#contact" id="04" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-菜单-联系'])">
                <span class="ttt">联系我们</span>
            </a>
        </li>
        <li>
            <a href="kuaixun.html" id="05a" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-菜单-快讯'])">快讯</a>
        </li>
    </ul>
</nav>

<!-- Home -->
<div class="wrapper wrapper-style1 wrapper-first" id="Wrapper">
    <article class="container" id="top">
        <div class="row">
            <div class="4u">
					<span class="me image image-full">
						<img src="jinritoutiao.jpg" alt="今日头条广告" />
					</span>
            </div>
            <div class="8u">
                <header>
                    <h1>
                        移动广告从 <strong>今日头条</strong>
                        开始！
                    </h1>
                </header>
                <p>
                    马云曾说，创业最怕看不见！看不起！看不懂！跟不上！那么移动营销呢？同理！当年有多少企业看的见PC互联网营销？ <strong>移动广告给所有行业一次洗牌的机会。</strong>
                    下一次机会在10年后！
                </p>
                <a href="#work" id=“05a” class="button button-big">为什么要选择今日头条？</a>
            </div>
        </div>
    </article>
</div>

<!-- Work -->
<div class="wrapper wrapper-style3">
    <article id="work">
        <header>
            <h2>用户多、智能、精准、数据透明、投放门槛适中</h2>
            <span>在广告主预算有限的情况下，今日头条是移动广告的第一选。</span>
        </header>
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="4u">
                        <section class="box box-style1">
                            <a class="image">
                                <img src="01.jpg" alt="今日头条APP使用时长"  id="06"/>
                            </a>
                            <h3>手机消耗人们大量时间，看新闻排在第2位</h3>
                            <p>你用手机搜索某件商品的次数多？还是看新闻资讯的次数多？手机广告打破了传统搜索广告的思维模式。</p>
                        </section>
                    </div>
                    <div class="4u">
                        <section class="box box-style1">
                            <a class="image">
                                <img src="02.jpg" alt="今日头条广告算法" id="07"/>
                            </a>
                            <h3>5秒算出用户兴趣，根据兴趣智能推荐新闻</h3>
                            <p>每个人打开今日头条，展示的新闻都不一样，因为每个人的兴趣不一样。这是今日头条的核心看家技术噢。</p>
                        </section>

                    </div>
                    <div class="4u">
                        <section class="box box-style1">
                            <a class="image">
                                <img src="03c.jpg" alt="今日头条APP用户数" id="08"/>
                            </a>
                            <h3>截止2016年12月</h3>
                            <p>
                                7亿人安装了今日头条，每月至少1.75亿人使用，每日至少7800万人使用，每人每天平均打开9次，每人每日平均使用76分钟。
                            </p>
                        </section>
                    </div>
                    <div class="4u">
                        <section class="box box-style1">
                            <a class="image">
                                <img src="04.jpg" alt="今日头条广告投放条件" id="09"/>
                            </a>
                            <a href="jingzhun/jingzhun.html">
                                <h3>精准定向广告投放，让广告主的预算花的值</h3>
                            </a>
                            <p>
                                <a href="jingzhun/jingzhun.html">可以实现性别、年龄、兴趣、手机、时间、城市、区、天气、职业、购物习惯等多纬度定向定投放广告</a>
                            </p>
                        </section>
                    </div>
                    <div class="4u">
                        <section class="box box-style1">
                            <a class="image">
                                <img src="05.jpg" alt="今日头条广告后台" id="10"/>
                            </a>
                            <h3>后台灵活操作，实时数据报表</h3>
                            <p>直接在今日头条的广告投放后台上制定广告投放策略，随时查数据，及点击广告的用户画像</p>
                        </section>
                    </div>
                    <div class="4u">
                        <section class="box box-style1">
                            <a class="image">
                                <img src="06a.jpg" alt="今日头条与搜狐新闻" id="11"/>
                            </a>
                            <h3>拒绝虚假数据，方便中小广告主</h3>

                            <p>支持第三方广告数据监测；像编辑微信文章一样的编辑广告新闻文章；提供移动广告页面编辑器自动适配手机。</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>向合适的人展示合适的广告，让广告主每一分钱的预算支出都物超所值。</p>
            <a href="#portfolio" class="button button-big" id="12">谁在今日头条投放广告？</a>
        </footer>
    </article>
</div>

<!-- Portfolio -->
<div class="wrapper wrapper-style3">
    <article id="portfolio">
        <header>
            <h2>广告就是新闻、新闻就是广告</h2>
            <span>没有人喜欢看广告。人们阅读他们想要阅读的东西，而有时候这些内容恰巧是广告。</span>
        </header>
        <div class="container">
            <div class="row">
                <div class="12u"></div>
            </div>
            <div class="row">
                <div class="4u">
                    <article class="box box-style2">
                        <a href="http://img.appho.cn/toutiao/video/kai_ping.mp4" target="_blank" class="image image-full">
                            <img src="anli01.gif" alt="今日头条全屏广告" title="今日头条全屏广告" id="13"/>
                        </a>
                        <h3>APP启动全屏广告</h3>
                        <p>每天至少1000万人会看到广告，适合强化品牌展示</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <a  href="http://img.appho.cn/toutiao/video/xin_xi_liu_luo_di_ye_zu_tu.mp4" target="_blank"  class="image image-full">
                            <img src="anli02.gif" alt="今日头条信息流大图广告"  title="信息流大图\小图\组图"  id="14"/>
                        </a>
                        <h3>大图广告\小图\组图</h3>
                        <p>在新闻信息流中展现广告。大图更突出，组图创意更灵活，小图更原生</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <a href="http://img.appho.cn/toutiao/video/xin_xi_liu_shi_pin.mp4" target="_blank"  class="image image-full">
                            <img src="anli03.gif" alt="今日头条信息流小图广告"  title="今日头条视频广告" id="15" />
                        </a>
                        <h3>视频广告</h3>
                        <p>可按CPC点击计费的精准视频广告。每日最低可100元预算，给力不给力！</p>
                    </article>
                </div>
            </div>

            <div class="row">
                <div class="4u">
                    <article class="box box-style2">
                        <a href="http://img.appho.cn/toutiao/video/xin_xi_liu_luo_di_ye_xia_zai.mp4" target="_blank" class="image image-full">
                            <img src="anli13.gif" alt="今日头条信息流APP下载广告"  title="信息流APP下载广告" id="13"/>
                        </a>
                        <h3>APP下载广告</h3>
                        <p>每天至少1000万人会看到广告，适合强化品牌展示</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <a href="http://img.appho.cn/toutiao/video/xiang_qing_ye_luo_di_ye.mp4" target="_blank"  class="image image-full">
                            <img src="http://img.appho.cn/toutiao/images/gif/anli14.gif" alt="今日头条详情页广告"  title="详情页广告"  id="14"/>
                        </a>
                        <h3>详情页广告</h3>
                        <p>在新闻内容最下方展示广告，可按文章类型等条件投放广告</p>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <a href="http://img.appho.cn/toutiao/video/nei_hen_duan_zi_shi_pin_xia_zai.mp4" target="_blank" class="image image-full">
                            <img src="anli15.gif" alt="内涵段子广告"  title="内涵段子广告" id="15" />
                        </a>
                        <h3>内涵段子广告</h3>
                        <p>内段段子是今日头条的一款独立的APP。内容有点“污”是最大特点</p>
                    </article>
                </div>
            </div>

            <div class="row">
                <div class="4u">
                    <article class="box box-style2">
                        <a  class="image image-full">
                            <img src="http://img.appho.cn/toutiao/images/anli04.jpg" alt="今日头条金融广告" id="16"/>
                        </a>
                        <h4>金融&nbsp;&nbsp;陆金所</h4>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <a class="image image-full">
                            <img src="anli05.jpg" alt="今日头条电商广告" id="17"/>
                        </a>
                        <h4>电商&nbsp;&nbsp;淘宝</h4>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <a class="image image-full">
                            <img src="anli06.jpg" alt="今日头条数码产品广告" id="18"/>
                        </a>
                        <h4>3C&nbsp;&nbsp;VIVO</h4>
                    </article>
                </div>

            </div>
            <div class="row">
                <div class="4u">
                    <article class="box box-style2">
                        <a  class="image image-full">
                            <img src="anli07.jpg" alt="今日头条教育广告" id="19"/>
                        </a>
                        <h4>教育 英孚</h4>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <a class="image image-full">
                            <img src="anli08.jpg" alt="今日头条旅游广告" id="20"/>
                        </a>
                        <h4>旅游 新加坡旅游局</h4>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <a class="image image-full">
                            <img src="anli09.jpg" alt="今日头条O2O广告" id="21"/>
                        </a>
                        <h4>生活服务 PP租车</h4>
                    </article>
                </div>

            </div>
            <div class="row">
                <div class="4u">
                    <article class="box box-style2">
                        <a  class="image image-full">
                            <img src="anli10.jpg" alt="今日头条APP下载广告" id="22"/>
                        </a>
                        <h4>APP下载 美拍</h4>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <a class="image image-full">
                            <img src="anli11.jpg" alt="今日头条电器广告" id="23"/>
                        </a>
                        <h4>家装 公牛</h4>
                    </article>
                </div>
                <div class="4u">
                    <article class="box box-style2">
                        <a class="image image-full">
                            <img src="anli12.jpg" alt="今日头条日化广告" id="24"/>
                        </a>
                        <h4>日化 欧莱雅</h4>
                    </article>
                </div>
            </div>
        </div>
        <footer>
            <a href="#abc" class="button button-big" id="25">更深入了解今日头条广告投放</a>
        </footer>
    </article>
</div>

<div class="wrapper wrapper-style2">
    <article id="abc">
        <header>
            <h2>精准投放和广告展示量巨大是今日头条竞价广告最大的特点</h2>
            <span>广告主常见问题ABC</span>

        </header>
        <div class="container">
            <div class="row">

                <div class="4ub">
                    <section class="box box-style1">
                        <h3>为什么今日头条竞价广告投放很精准？与其他新闻APP的精准竞价广告有什么区别？</h3>
                        <h4>广告精准投放的前提是可以更多的了解用户兴趣、喜好和需求。</h4>
                        <p>所有新闻APP了解用户兴趣和需求，主要途径都是通过分析用户阅读文章内容、类型，阅读时间、频次，地理位置分析用户。</p>
                        <p>一个人经常从书店借书，即便他不和书店老板有任何交流，书店老板通过借阅的图书、阅读时间也能大致猜出这人喜好。如果用户几乎每天都使用今日头条阅读数篇文章，今日头条广告系统会记录分析这些数据，从而推测用户兴趣与需求。如果只分析用户几个月，数据是不精准的。但今日头条早在2013年就为用户提供服务，长期跟踪用户数据，形成庞大且精准的海量数据库。截止到2016年9月底，日活跃用户数6300万人，月活跃用户数1.35亿人使用今日头条，累计用户数5.8亿，人均日使用时间超过76分钟，人均日启动次数约9次。</p>
                        <p>更重要的是，今日头条与其他新闻APP不同，不是半路出嫁。从今日头条诞生就实现了每个用户看到的新闻都不一样，个性化新闻推荐。不信？可以随便找几个人同时打开今日头条APP，看到的新闻内容都不一样，都是用户感兴趣的。</p>
                        <p>能个性化推荐新闻，就能个性化推荐广告。要实现这样的效果，不是一朝一夕的，需要长时间的海量用户数据作为基础。</p>
                    </section>
                </div>
                <div class="4ub">
                    <section class="box box-style1">
                        <h3>很多广告主问，是否可以把广告展示在特定的板块下？</h3><h4>如汽车、金融、教育、游戏、娱乐、女性、军事等等。</h4>
                        <p>今日头条精准广告系统没有采用这种效率低下的“坐等”式广告方式。如果用户不看特定板块的新闻内容，就看不到广告，这对广告主来说是莫大的损失。聪明的广告跟着用户走，主动展示给目标用户，而不是“坐等”。</p>
                        <p>聪明的广告跟着用户走，主动展示给目标用户，而不是“坐等”。</p>
                        <p>今日头条精准广告系统，会根据用户平时阅读新闻的习惯，结合大数据系统，为每一个用户定义非常复杂的特性标签，为用户画像。今日头条精准广告系统可以知道每一个用户的兴趣爱好与需求。广告系统锁定目标用户，所以无论目标用户看哪个板块的新闻，都可以将广告展示给他。
                            人的兴趣与需求是多样的，一个股票用户，看金融板块新闻没问题，也许他也是个游戏爱好者、军事爱好者，在他浏览游戏、军事新闻时，也可以向他展示股票广告。</p>
                        <p>广告主会问，我需要在每个板块都投放广告吗？预算会大幅增加吧？<strong>不会的！</strong></p>
                        <p>因为今日头条的用户每个人看到的新闻和广告都不一样。不信？可以随便找几个人同时打开今日头条APP，你们看到的新闻内容和广告绝对不会一模一样。</p>
                        <p>如果说有1000人同一时间进入股票板块，可能看到的是1000条不同的广告。也许是股票广告，也许是游戏广告。因为一个游戏用户随便进入股票板块看看，也可以向他展示游戏广告。</p>
                    </section>
                </div>
                <div class="4ub">
                    <section class="box box-style1">
                        <h3>广告是展示在信息流第4位吗？</h3><h4>准确的说今日头条APP信息流广告只展现在每一屏的第4位。</h4>
                        <p>如何理解呢？请打开今日头条APP，然后跟我说的做！</p>
                        <p>打开今日头条APP后，默认显示“推荐”栏目下的新闻。请从上到下第数，广告会显示在第4条（或第4条是普通的新闻）。如何判断广告？带有“蓝色广告字样“的就是广告。</p>
                        <p>然后手指点屏幕下拉。请从上到下数，广告会显示在第4条。然后再下拉，再从上到下数，广告还会显示在第4条。以此类推...所以，<strong>请不要被您投放的广告展示在信息流第4位这样的话误导！</strong></p>
                        <p>决定今日头条信息流广告价值（价格）的重要因素之一是：“<strong>刷新次数</strong>”（下拉次数），也可以理解广告是在第几屏展示出的。每一次下拉刷新，只会显示1条广告，或不显示。</strong></p>
                    </section>
                </div>
                <div class="4ub">
                    <section class="box box-style1">
                        <h3>竞价广告，出多少钱，广告显示的更靠前？</h3>

                        <p>早上起床听广播，可以听到广告。出门坐电梯，在电梯上可以看到广告。进入地铁，有地铁广告。出地铁，有路边广告。进入公司打开电脑，有PC广告。中午出去吃饭，收到传单广告。下班约好友吃饭，还可以看到广告。晚上回家又可以看到若干次广告，睡觉前看看今日头条，还能看到广告。</p>
                        <p>哪一条广告最有价值？是早上起来的广播广告吗？广播广告因为第一个呈现在消费者面前，就会更贵吗？</p>
                        <p>人们是用手机呈现的特点是随时随地，碎片化。除了睡觉，其他时间都有可能使用今日头条看新闻。早上在今日头条上看到的新闻价值，不一定就高于晚上睡觉前在今日头条上看到的广告的价值。</p>
                        <p>投放今日头条精准竞价广告重要策略之一是：<strong>潜在消费者所在场景和时间</strong>。例如交友广告，可能晚上投放广告效果要比早上好的多。</p>
                        <p></p>
                    </section>
                </div>
                <div class="4ub">
                    <section class="box box-style1">
                        <h3>为什么看不到我投放的精准竞价广告？</h3>
                        <h4>恶意点击广告怎么办？</h4>

                        <p>今日头条精准竞价广告只向广告主选定的特定用户展示广告。而且同1条广告1天只向1个用户最多展示2次。</p>
                        <p>如果选定的投放人群是男性、20-30岁以上、关注手游的用户，那么不满足以上条件的人在使用今日头条时都看不到广告。</p>
                        <p>我符合以上投放人群的条件，还是看不到广告，为什么？此时与广告预算有直接关系。例如当日投放的广告预算上限是1000元，每次点击广告的费用是0.5元。在完成2000次点击后，广告自动下线。</p>
                        <p>那么巧合，我为什么就不在2000次点击之内的用户呢？这与广告投放人群规模有关，符合以上条件的人群在几百万级别，1000元广告预算对比几百万的潜在用户，首次投放就看到自己的广告才是“巧合”。增加投放预算和投放天数，自己看到广告的概率会提升。</p>
                        <p>为什么用今日头条APP也搜不到我的广告呢？今日头条广告系统不支持搜索特定的广告。广告只能由广告系统判断，展示给具体的更有可能产生广告效果的用户。</p>
                        <p>如果想恶意点击某条广告，首先要先看到这条广告。因为今日头条竞价广告系统的机制，恶意点击某条的广告所付出的成本，远远高于给广告主造成的伤害。</p>
                        <p></p>
                    </section>
                </div>
                <div class="4ub">
                    <section class="box box-style1">
                        <h3>今日头条广告如何收费？</h3>
                        <p>今日头条广告收费分：<strong>精准竞价广告</strong>，和<strong>品牌展示广告</strong>。</p>
                        <p>精准竞价广告按CPC点击竞价收费，或CPM千次展示竞价收费。CPC计费：0.2元起竞价。CPM计费：4元起竞价。广告主需提前预充值1万元，开通今日头条竞价广告后台投放广告。个别行业会高于1万元。</p>
                        <p>品牌展示广告按照CPM展示收费（固定单价）。根据购买量和投放城市范围不同，CPM单价不同。</p>
                        <a href="kanli.html">详细价格点击这里查看</a>
                    </section>
                </div>

                <div class="4ub">
                    <section class="box box-style1">
                        <h3>如何在内涵段子、西瓜视频上投放广告？</h3>
                        <p>内涵段子和西瓜视频是今日头条旗下的2个APP。</p>
                        <p>可以通过今日头条广告后台投放内涵段子和西瓜视频上的广告，也是CPC、CPM计费，与今日头条APP一样。</p>
                    </section>
                </div>

                <div class="4ub">
                    <section class="box box-style1">
                        <h3>如何保证在今日头条上投放的广告，效果更好？</h3>
                        <p>在Feed新闻信息流广告里，今日头条广告具有巨大的技术领先优势和流量优势。这种巨大的优势可以确保今日头条可以锁定<strong>更多的、更精准的</strong>目标消费者。今日头条广告的核心基础是竞价广告，出价更高的广告主才能获得更多、更精准的目标消费者。竞价广告的价格是动态的，随时在变化，没有固定价格。这需要广告主根据自身实际情况，使用合适的投放策略，根据数据反馈，随时优化广告投放。</p>
                        <p>如果把今日头条比喻成一把刻刀，那么所有广告主都可以使用这把刻刀，但不是所有广告主都能雕刻出艺术品。这需要建立在对广告、竞价广告有足够的理解，和足够的投放经验的基础上。</p>
                        <p>对于经验丰富的广告主可以拿来就用，达到理想的广告效果。对于经验不足的广告主，我们提供完整的解决方案，实现理想的广告效果。</p>
                    </section>
                </div>

                <!--
                                            <div class="4ub">
                                                <section class="box box-style1">
                                                    <h3>如何保证在今日头条上投放的广告，效果更好？</h3>
                                                    <p>在Feed新闻信息流广告里，今日头条广告具有巨大的技术领先优势和流量优势。这种巨大的优势可以确保今日头条可以锁定<strong>更多的、更精准的</strong>目标消费者。这就如同您要竞选总统，今日头条以<strong>很低的成本</strong>找到了<strong>很多打算支持</strong>您的人，他们聚集在广场上，准备聆听您的精彩演讲。今日头条无法帮助您写出一篇精彩的演讲稿，更无法替代您上台演讲。艾普移动营销可以。</p>
                                                    <p>好的广告效果&nbsp; =&nbsp; 低成本的找到很多的打算支持您的人（目标消费者）&nbsp; &times; &nbsp;精彩的演讲（广告内容）</p>
                                                </section>
                                            </div>
                -->
            </div>
        </div>
        <footer>

            <a href="#contact" class="button button-big">投放今日头条广告请点击这里</a>
            <div class="button button-big">继续了解，请看屏幕顶端</div>
        </footer>
    </article>
</div>


<!-- Contact -->
<div class="wrapper wrapper-style4 wrappernnn">
    <article id="contact">
        <header>
					<span>
						<a href="http://www.appho.cn" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页-官网1'])">艾普移动广告</a>
						做为今日头条的广告代理商，向广告主承诺，我们不是媒体搬运工，我们是您的移动营销顾问。
					</span>
            <br>
            <br>

            <h2>现在就联我们的移动广告顾问吧</h2>

            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2927313998&amp;site=qq&amp;menu=yes" target="_blank" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页--QQ'])">
                <img src="QQzixun2.png" alt="今日头条QQ在线联系" />
            </a>
            <br><br>
            <span>
						或手工添加QQ2927313998
					</span>
            <br>
            <br>
            <a href="mqqwpa://im/chat?chat_type=wpa&uin=2927313998&version=1&src_type=web&web_src=oicqzone.com" target="_blank" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页--QQ'])">
                <img src="QQzixun3.png" alt="今日头条QQ在线联系" />
                <br>
                <br>
                <!-- WPA Button Begin -->
                <!--
<script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDA4MjQ0NV8yMDA4OTVfODAwMDgyNDQ1Xw"></script>
            -->
                <!-- WPA Button End -->

                <!--<h4>
                <a href="tel:01053381619" id="26">TEL:010-53381619</a>
            </h4>

            <h4>
                <a href="tel:15010377800" id="27" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页--手机'])">手机:15010377800</a>
            </h4>

            <h5>网站上的信息不够全？请告诉我们，我们很重视您的建议</h5>
            -->
                <br>
                <a href=""  onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页--官网2'])">
                    <img src="images/appunlogo.png" alt="艾普移动广告标志" id="28"/>
                </a>
                &nbsp;&nbsp;
                <img src="images/toutiaologo.png" alt="今日头条标志" id="29"/>
        </header>

        <header>
            <h2>填写推广需求，获得资深移动营销顾问服务</h2>
            <span>请详细填写推广需求描述，将有助于获得更有针对性的移动广告推广建议与方案。我们将在1个工作日内联系您。</span>
        </header>
        <!--修改开始-->
        <link rel="stylesheet" href="../static/js/zengForm.css" />
        <div>
            <div class="row">
                <div class="12u">
                    <form id="theForm" method="post" action="#">
                        <div>
                            <div class="row half">
                                <div class="12u">
                                    <input type="text"  name="memo" id="memo" data-option="required" tipMsg="公司全称" placeholder="公司全称?" autocomplete="off" />
                                </div>
                            </div>

                            <div class="row half">
                                <div class="12u">
                                    <input type="text" name="memo2" id="memo2" data-option="required" tipMsg="推广的商品或服务" placeholder="要推广的产品或服务？" autocomplete="off" />
                                </div>
                            </div>

                            <div class="row half">
                                <div class="12u">
                                    <textarea placeholder="推广目标？希望用多长时间，花多少钱，达到什么样的推广效果？" name="memo3" id="memo3" data-option="required" tipMsg="推广目的"  autocomplete="off" ></textarea>
                                </div>
                            </div>

                            <div class="row half">
                                <div class="12u">
                                    <input type="text" name="age" id="age" data-option="required" tipMsg="公司官网或公众号" placeholder="公司官网或公众号？" autocomplete="off"  />
                                </div>
                            </div>

                            <div class="row half">
                                <div class="12u">
                                    <input type="text" name="name" id="name" data-option="required" tipMsg="姓名"  placeholder="姓名？" autocomplete="off" />
                                </div>
                            </div>

                            <div class="row half">
                                <div class="12u">
                                    <input type="text" name="phone" id="phone" data-option="required,phone" tipMsg="手机号" placeholder="手机号？" autocomplete="off" />
                                </div>
                            </div>

                            <div class="row half item-sms">
                                <div class="6u">
                                    <input type="text" placeholder="短信验证码" id="smscode" name="smscode" data-option="required" tipMsg="验证码" autocomplete="off" >
                                </div>
                                <div class="4u"><a class="sendSms hundred-per" style="height: 50px; line-height: 50px; color: #fff !important; " href="javascript:void(0);" onclick="zengForm.smsCodeService.sendSms(this,'fbb878735ce49568015d112166bf06e3');"><span class="text">短信验证码</span></a></div>
                            </div>

                            <div class="row">
                                <div class="12u">
                                    <a href="javascript:void(0);" id="submitForm" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页--提交需求']);" class="button">提交需求</a>

                                    <!--									<a href="javascript:reset()" class="button button-alt form-button-reset">清除信息</a>-->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="../static/js/zengForm.js"></script>
        <script>
            $(function () {
                $("#submitForm").click(function(event) {
                    zengForm.submitFormToAction({
                        'city': $("#age").val(),
                        'memo': $("#memo").val(),
                        'memo2': $("#memo2").val(),
                        'memo3': $("#memo3").val(),
                        'name': $("#name").val(),
                        'phone': $("#phone").val(),
                        'smscode':$("#smscode").val(),
                        'formId':'fbb878735ea2530d01605941978330d7'
                    });
                });
            })
        </script>
        <!--修改结束-->

        <div class="row-special row-specialnnn">
            <div>
                <h3>下载今日头条</h3>
                <img src="images/toutiao2weima.png" alt="今日头条二维码" id="30"/>
            </div>
        </div>
        <footer>
            <p>艾普移动广告&nbsp;.&nbsp;做有效果的广告&nbsp;.&nbsp;效果先行</p>
        </footer>
    </article>
</div>
<!-- WPA Button Begin
<script charset="utf-8" type="text/javascript" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDA4MjQ0NV8yMDI4MzFfODAwMDgyNDQ1Xw"></script>
WPA Button End -->
<!--
<div style="position:fixed; left:5px; top:47%; z-index:99999;">
<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2273728337&amp;site=qq&amp;menu=yes" target="_blank">
<img src="images/QQzixun.png" border="0" />
</a>
-->
<div class="wrapper wrapper-style2">
    <article id="kuaixun">
        <header>
            <h2>今日头条广告快讯</h2>
        </header>
        <div class="container">
            <div class="row" id="waterfall" style="position: relative;">





                <div class="4u">
                    <section class="box box-style1">
                        <h6>动态词包新词包上线 17-9-27</h6>
                        <h7>
                            为提升广告创意与目标用户的相关性，新增了性别、节日、手机系统、月份四类动态词包
                        </h7>
                    </section>
                </div>


                <div class="4u">
                    <section class="box box-style1">
                        <h6>西瓜视频支持投放广告 17-9-25</h6>
                        <h7>
                            头条旗下人气短视频手机应用西瓜视频9月25日全面开放广告位，您可以通过勾选该投放位置将您的广告投放至西瓜视频应用当中，IOS及安卓流量均支持投放。
                            西瓜视频广告位目前暂不支持oCPM和CPV出价方式（其他出价方式均支持），及oCPC-安装完成转化目标（其他转化目标均支持），如您的计划命中以上任一设置，则西瓜视频广告位会显示“不可选”。
                        </h7>
                    </section>
                </div>





                <div class="4u">
                    <section class="box box-style1">
                        <h6>头条建站支持oCPC“有效咨询”出价" 17-9-21</h6>
                        <h7>
                            “有效咨询”即顾客主动发起聊天，聊天内容条数≥1的情况。
                            只要您在头条建站落地页中，使用美洽在线咨询工具，就可以以“有效咨询”为转化目标，设置oCPC出价。
                            注意：如果是历史在投的站点，需要重新发布并新建计划，方可选择“有效咨询”（历史计划无法修改转化目标）

                        </h7>
                    </section>
                </div>

                <div class="4u">
                    <section class="box box-style1">
                        <h6>应用下载类广告支持oCPC注册/付费出价 17-9-6</h6>
                        <h7>
                            为了满足您多样的转化需求，离想要的转化目标更近一些，应用下载类广告支持oCPC注册/付费出价啦！ 当您在工具箱设置应用下载类的转化目标时，“转化类型”会新增“注册”和“付费”的选项， 同激活出价一致，您选择设置后，就可以以注册/付费为转化目标， 在计划中进行投放。

                        </h7>
                    </section>
                </div>

                <div class="4u">
                    <section class="box box-style1">
                        <h6>落地页广告计划的附加创意支持自动生成 17-9-1</h6>
                        <h7>
                            为助力落地页广告计划提升转化效果，头条上线了落地页计划附加创意自动生成功能。 使用该功能后，系统将自动访问广告主计划设置的落地页链接，从落地页内容中抓取转化组件自动生成附加创意，同时，右侧将出现附加创意样式预览。附加创意目前支持表单提交类型附加创意和电话拨打类型附加创意自动生成。

                        </h7>
                    </section>
                </div>

                <div class="4u">
                    <section class="box box-style1">
                        <h6>自动播放+增加流量|视频oCPM出价全量上线 17-8-17</h6>
                        <h7>
                            当您的优化目标为“转化”时，下方付费方式会新增“CPM”选项。 oCPM出价针对视频素材，投放时自动播放，大大增加了播放量、提高转化率；另，计划会直接进入第二阶段进行转化优化，可以有效降低您的探索成本.

                        </h7>
                    </section>
                </div>


                <div class="4u">
                    <section class="box box-style1">
                        <h6>查看更多历史快讯</h6>
                        <h7>
                            <a href="kuaixun.html" class="button button-big" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页--更多快讯'])">点击这里</a>


                        </h7>
                    </section>
                </div>



            </div>

        </div>
        <!--
            <footer class="waterF">
                <a href="kuaixun.html" class="button button-big" onClick="_hmt.push(['_trackEvent', '头条', '首页', '头条-首页--更多快讯'])">查看更多历史快讯</a>

            </footer>

            -->
    </article>
</div>

<div class="bdsharebuttonbox">
    <a href="#" class="bds_more" data-cmd="more"></a>
    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
</div>

<script>
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>




<script>
    $(function(){
        var waterFmarginTop = 0;
        setTimeout(setTimeRunwater,1000);
        $(window).resize(function() {
            runwater();
            $("#Wrapper").css('margin-top', $("#nav").height());
        });
        function setTimeRunwater(){
            runwater();$("#Wrapper").css("margin-top", $("#nav").height());
        }
        function runwater(){
            if ($( window ).width()>=500) {
                waterfall();
                var olength = $("#waterfall .4u").length-1;
                $(".waterF").css('margin-top', waterFmarginTop+30+"px");
            }else{
                $("#waterfall .4u").css('position', 'static');
                $(".waterF").css('margin-top', '2.5em');
            }
        }
        function waterfall(){
            var $aPin = $("#waterfall .4u");
            var iPinW = $aPin.eq( 0 ).width();
            var num = 3;

            var pinHArr=[];//用于存储 每列中的所有块框相加的高度。
            $aPin.each( function( index, value ){
                var pinH = $aPin.eq( index ).height();
                waterFmarginTop= (waterFmarginTop>pinH) ? waterFmarginTop : pinH;
                if( index < num ){
                    pinHArr[ index ] = pinH; //第一行中的num个块框pin 先添加进数组pinHArr
                }else{
                    var minH = Math.min.apply( null, pinHArr );//数组pinHArr中的最小值minH
                    var minHIndex = $.inArray( minH, pinHArr );
                    $( value ).css({
                        'position': 'absolute',
                        'top': minH + 15,
                        'left': $aPin.eq( minHIndex ).position().left
                    });
                    //数组 最小高元素的高 + 添加上的aPin[i]块框高
                    pinHArr[ minHIndex ] += $aPin.eq( index ).height() + 15;//更新添加了块框后的列高
                }
            });
        }
    });
</script>
<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

<script src="dialog.js"></script>
<script>
    function validForm()
    {
        var flag = true;

        $("#theForm").find("input[type='text']").each(function()
        {
            if($(this) && $(this).attr("required") && $(this).val().trim() == "")
            {
                flag = false;
            }
        });

        $("#theForm").find("textarea").each(function()
        {
            if($(this) && $(this).attr("required") && $(this).val().trim() == "")
            {
                flag = false;
            }
        });

        return flag;
    }

    function submitForm()
    {
        if(!validForm())
        {

            var d = dialog({
                title: '提示',
                content: '请完整填写所有信息，谢谢。',

            }).width(300);

            d.show();

            return;
        }else
        {
            $.post("index1.php", $("#theForm").serialize(), function(data){
                if(data && data == "ok")
                {
                    var d = dialog({
                        title: '提示',
                        content: '提交成功！我们将在1个工作日内联系您。'
                    }).width(300);

                    d.show();

                    reset();

                    _hmt.push(['_trackEvent',  '头条', '首页', '头条-首页--提交需求OK']);

                    changeCode();
                }else
                {
                    var d = dialog({
                        title: '提示',
                        content: '验证码错误。'
                    }).width(300);

                    d.show();
                }
            });
        }
    }

    function reset()
    {
        $("#theForm").find("input").each(function()
        {
            $(this).val("");
        });

        $("#theForm").find("textarea").each(function()
        {
            $(this).val("");
        });
    }

    function changeCode()
    {
        var srcstr = "1a2s3d4f5g6hj8k9qwertyupzxcvbnm";
        strs = "";
        for (var i = 0; i < 4; i++) {
            strs += srcstr.charAt(getRandom(30));
        }
        $("#code1").val(strs);
        $("#codeImg").attr("src", 'code.php?code=' + strs);
    }

    function getRandom(n)
    {
        return Math.floor(Math.random()*n+1)
    }

    changeCode();
</script>
</body>
</html>