//
// common
// --------------------------------------------------
.clear {clear:both;}

//
// Opacity
// --------------------------------------------------
@mixin opacity($opacity:1){
	-webkit-opacity: $opacity;  
	   -moz-opacity: $opacity;  
     -khtml-opacity: $opacity;  
            opacity: $opacity;  
             filter:alpha(opacity=#{$opacity * 100});  
         -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100})";  
             filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity * 100}); 
}