// Reset and dependencies
@import "mixins/normalize","mixins/reset","mixins/common";
@import "dist/button","dist/body","dist/table","dist/form","dist/checkbox";
@import "services/pages";
.page_name{font-size:24px; color:#b0b0b0; padding-top:20px; padding-bottom:10px; }
.button_box{padding:10px 0px; }
.button_box_bottom{padding:20px 0px; text-align:center; }
.blue_button{text-align:center; color:#fff; text-decoration:none; font-size:14px; border-radius:5px; padding:0 30px; background:#00a78f; height:30px; line-height:30px; display:inline-block; }
.list_table_header{padding:10px; border-radius:5px 5px 0px 0px; border:1px solid #d7d8dd; border-bottom:2px solid #00a78f; }
div.select {display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; vertical-align: bottom; }
div.select div, div.select div.open {background: url(../img/main/select-l.png) no-repeat 0 0; height: 28px; padding-left: 5px; font-size: 14px; color: #34495e; cursor: pointer; margin-right:-5px; font-family:'Microsoft YaHei'; }
div.select div span, div.select div.open span {background: url(../img/main/select-r.png) no-repeat right 0; height: 28px; line-height: 28px; display: block; }
div.select div:hover {background: url(../img/main/select-l.png) no-repeat 0 0px; }
div.select div:hover span {background: url(../img/main/select-r.png) no-repeat right 0px; }
div.select div.open {background: url(../img/main/select-l.png) no-repeat 0 0px; }
div.select div.open span {background: url(../img/main/select-r.png) no-repeat right 0px; }
div.select ul {font-family:'Microsoft YaHei'; list-style: none; background-color: #FFFFFF; border-color: #d7d8dd #d7d8dd #d7d8dd; border-style: solid; border-width: 1px; margin: 0; padding: 0; position: absolute; z-index: 999; font-size:14px; overflow:hidden; }
div.select li {padding: 0px 5px; cursor: default; height:28px; line-height:28px; 
	&.hover {background: #d7d8dd; color: #6B6B6B;}
}
.unfold_arr{background:url(../img/main/icon_unfold.png) no-repeat; width:22px; height:13px; display:inline-block; 
	&:hover{background-position:left bottom; }
}
.list_table{border-left:1px solid #d7d8dd; border-right:1px solid #d7d8dd; 
	table{
		tr{
			background:#efeff1; border-bottom:1px solid #d7d8dd;
			td{padding:6px 20px; }
			&:hover{background:#f9f9f9; }
		}
		th{padding:6px 20px; color:#b0b0b0; text-align:left; font-weight:100; }
	}
}
.edit{background:url(../img/main/icon_edit.png) no-repeat; width:18px; height:18px; display:inline-block; margin:0px 5px; 
	&:hover{background-position:left bottom; }
}
.delete{background:url(../img/main/icon_delete.png) no-repeat; width:18px; height:18px; display:inline-block; margin:0px 5px; 
	&:hover{background-position:left bottom;}
}

.back{background:url(../img/main/icon_back.png) no-repeat; height:24px; display:inline-block; padding-left:29px; color:#00a78f; text-decoration:none; 
	&:hover{background-position:left bottom; color:#ff8400; }
}
.form_table{border-radius:5px; border:1px solid #d7d8dd; 
	table{
		tr td{padding:6px 20px; vertical-align:top; }
		.odd{background:#efeff1; }
	}
}
.form-box{display:none;}

.hidden {@include opacity(0); z-index: 0; margin: 0; padding: 0; width: 16px; height:16px; }
input[type="text"]{font-family:'Microsoft YaHei'; height:26px; line-height:26px; border:1px solid #d7d8dd; border-radius:4px; text-indent:5px; font-size:14px; color:#34495e; }
textarea{border-radius:4px; border:1px solid #d7d8dd; padding:5px; font-size:14px; color:#34495e; }