/**
* CONTENTS
* login style
*
* SETTINGS
* normalize ............................. normalize style storage file
* reset ................................. reset style storage file
* 
* COMPONENTS
* checkbox ................................. checkbox style storage file
*
* BUSINESS
*
*/
@import "mixins/normalize","mixins/reset";
@import "dist/checkbox";
.hd_login{width: 100%; height: 75px; background: #3A6EA5;min-width: 980px;}
.hder_login{overflow: hidden; position: relative; width: 980px; height: 75px; margin: 0 auto;}
.login_logo{float: left; margin: 10.5px 0px; display: inline;}
.bg_login{width: 100%; height: 574px; background: url("../img/login/login_bg.jpg") no-repeat center top;min-width: 980px;}
.co_login{width: 980px; margin: 0 auto; height: 574px;}
.form_login{position: relative; z-index: 4; width: 306px; background: #fff; padding: 20px; overflow: visible; float: right; top: 130px;}
.box_hd{display: block; width: 306px; overflow: visible; height: 27px;
	h1{position: relative;height: 27px; line-height: 27px; top: -5px; float: left; color: #666; font-family: '\5fae\8f6f\96c5\9ed1'; font-size: 20px;}
}
.box_form{
	.item{border: 1px solid #bdbdbd; height: 38px; width: 304px; position: relative; margin-bottom: 20px;
		label.lo_name,label.lo_pwd{position: absolute; z-index: 3; top: 0; left: 0; width: 38px; height: 38px; border-right: 1px solid #bdbdbd; background: url('../img/login/pwd-icons-new.png') no-repeat;}
		input{line-height: 18px; height: 18px; border: 0; padding: 10px 0 10px 50px; width: 254px; float: none; overflow: hidden; font-size: 14px; font-family: '\5b8b\4f53';}
		label.lo_pwd{background-position: -48px 0px;}
	}
	.item_focus{
		label.lo_name{background-position: 0px -48px;}
		label.lo_pwd{background-position: -48px -48px;}
	}
}
.item_cl{
	margin-bottom: 15px;
	.checkbox{margin: 0 3px 0 0;top:1px;}
}
.sub_login{text-align: center; border: 1px solid #e85356; display: block; width: 302px; background: #e4393c; height: 38px; line-height: 38px; color: #fff; font-size: 20px; font-family: '\5fae\8f6f\96c5\9ed1';
	&:hover{color:#fff;}
}
.ft_login{width: 100%;text-align: center;clear: both;min-width: 980px;}
.subft_login{width: 980px; margin: 0 auto; position: relative; padding: 18px 0;}
.subft_hd{
	a{color: #666; text-decoration: none; margin: 0 10px;}
}
.subft_ft{margin: 10px 0;}