<div class="modal-header bg-primary">
    <button aria-label="Close" class="close" data-dismiss="modal" ng-click="close()" type="button">
        <span aria-hidden="true">
            ×
        </span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
        照片裁剪
    </h4>
</div>
<div class="modal-body">
    <div ng-show="imageCropStep == 1">
        <span class="btn btn-default btn-file">
            <span class="fileinput-new" ng-show="imageCropStep == 1">
                选择图片
            </span>
           <!--  <span class="fileinput-new" ng-show="imageCropStep == 2">
                重新选择
            </span> -->
            <input id="fileInput" name="fileInput" onchange="angular.element(this).scope().fileChanged(event)" type="file"/>
        </span>
    </div>
    <div class="cropBox" ng-show="imageCropStep == 2">
        <image-crop crop="initCrop" data-height="{{height}}" data-result="result" data-result-blob="resultBlob" data-shape="circle" data-step="imageCropStep" data-width="{{width}}" max-size="{{maxSize}}" padding="250" src="imgSrc">
        </image-crop>
    </div>
    <div class="preview" ng-show="imageCropStep == 2">
        <span class="word">
            预览：
        </span>
        <img class="img-circle" ng-src="{{result}}" style="margin-top:6%;">
    </div>
</div>
<div class="modal-footer" ng-show="imageCropStep == 2" style="margin-top:45%;">
    <button class="btn btn-primary" ng-click="submit()" type="button">
        确定
    </button>
    <button class="btn btn-default" ng-click="close()" type="button">
        取消
    </button>
</div>
<style>
    .cropBox{
        float: left;
        padding-top:15px;
        padding-right:10px;
    }
    .word{
        position: relative;
        font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
        top:15px; 
        margin: 10px;
    }
    .preview-image{
        padding-top:5%;
    }
</style>