@CHARSET "UTF-8";
body{background-color: #f1f1f1;}
.bar {position: fixed; right: 0; left: 0; z-index: 10; height: 44px; padding-right: 10px; padding-left: 10px; background-color: white; border-bottom: 1px solid #ddd; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.bar-nav {top: 0; }
.icon {display: inline-block; font-family: Ratchicons; font-size: 24px; line-height: 1; text-decoration: none; -webkit-font-smoothing: antialiased; }
.bar .icon {position: relative; z-index: 20; padding-top: 10px; padding-bottom: 10px; font-size: 24px; }
.title {top: 0px; position: absolute; display: block; width: 100%; padding: 0; margin: 0 -10px; font-weight: 500; line-height: 44px; color: #000;background-color: #f1f1f1; z-index: 1; text-align: center; font-size: 1.4em; font-family: "STHeiti"; color: rgb(76, 76, 76); white-space: nowrap;}
.bar .new-a-back{position: absolute; top: 0px; width: 40px; height: 44px; display: block; z-index: 2;}
.bar .new-a-back span{display: block; width: 20px; height: 20px; margin: 12px 0 0 0px; text-indent: -100px; overflow: hidden; background: url(../img/arrow.png) no-repeat;background-size: 20px 20px;}
.bar .new-a-menu{position: absolute; width: 40px; height: 44px; top: 0px; z-index: 1; right: 0px;}
.bar .new-a-menu span{display: block; width: 36px; height: 10px; text-indent: -100px; overflow: hidden; background: url(../img/menu.png) no-repeat; background-size: 70% 70%; margin: 18px 0px 10px 0px;}

p.olHead{background-color: #fff;padding: 10px 15px; margin-top: 45px; box-shadow: 0 1px 3px rgba(0,0,0,0.1);}
p.olHead span{font-size: 1.2em; font-family: "STHeiti"; color: rgb(76, 76, 76);}
p.olHead span:nth-child(1){}
p.olHead span:nth-child(2){display: inline-block;float: right;}
p.olFoot{padding: 10px 15px 15px;font-size: 1.2em;}

.list{ background-color: #fff;overflow: hidden;margin-top: 15px;}
.list li{overflow: hidden;border-bottom: 1px solid #d8d8d8;}
.list li:last-child{border-bottom: none;}
.list li p.lhead{padding: 10px 5%;}
.list li p.lhead span{color:#2259be;}
.list li p.lhead i.ionRight{float: right; background: url("../img/ionRight.png") center center no-repeat; width: 11px; height: 18px; display: inline-block;}
.list li .libox{height: 66px; padding: 7px 10px; overflow: hidden; }
.list li .libox img{width: 100%; max-width: 67px; max-height: 100px; float: left; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 20.5px 10px; border: 1px solid #d8d8d8; margin-right: 10px;}
.list li .libox .middle{float: left;height: 100%;}
.list li .libox .middle p{color: rgb(76, 76, 76);overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.list li .libox .middle p.mBoot{ color: rgb(183, 184, 184); margin-top: 10px;}
.list li .libox .right{float: right;text-align: right;height: 100%;}
.list li .libox .right p{color: rgb(183, 184, 184);}
.list li .libox .right p.rMidd{ color: #000;}
.list li p.olFoot{padding: 10px 15px 15px; text-align: right; font-size: 1.2em;}



