@CHARSET "UTF-8";
body{background-color: #f1f1f1;}
.bar {position: fixed; right: 0; left: 0; z-index: 10; height: 44px; padding-right: 10px; padding-left: 10px; background-color: white; border-bottom: 1px solid #ddd; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.bar-nav {top: 0; }
.icon {display: inline-block; font-family: Ratchicons; font-size: 24px; line-height: 1; text-decoration: none; -webkit-font-smoothing: antialiased; }
.bar .icon {position: relative; z-index: 20; padding-top: 10px; padding-bottom: 10px; font-size: 24px; }
.title {top: 0px; position: absolute; display: block; width: 100%; padding: 0; margin: 0 -10px; font-weight: 500; line-height: 44px; color: #000;background-color: #f1f1f1; z-index: 1; text-align: center; font-size: 1.4em; font-family: "STHeiti"; color: rgb(76, 76, 76); white-space: nowrap;}
.bar .new-a-back{position: absolute; top: 0px; width: 40px; height: 44px; display: block; z-index: 2;}
.bar .new-a-back span{display: block; width: 20px; height: 20px; margin: 12px 0 0 0px; text-indent: -100px; overflow: hidden; background: url(../img/arrow.png) no-repeat;background-size: 20px 20px;}
.bar .new-a-menu{position: absolute; width: 40px; height: 44px; top: 0px; z-index: 1; right: 0px;}
.bar .new-a-menu span{display: block; width: 36px; height: 10px; text-indent: -100px; overflow: hidden; background: url(../img/menu.png) no-repeat; background-size: 70% 70%; margin: 18px 0px 10px 0px;}

.search {width: 24px; height: 24px; background: url('../img/search.png') center center no-repeat; background-size: 70% 70%; position: absolute; top: 10px; right: 48px; z-index: 2; }
.tab{margin-top: 45px; background-color: #fff; overflow: hidden;}
.tab li{float: left; box-sizing: border-box; -moz-box-sizing: border-box; width: 20%; color: rgb(76, 76, 76); -webkit-box-sizing: border-box; text-align: center; height: 45px; line-height: 45px; position: relative; border-bottom: 1px solid #d8d8d8;}
.tab li span{position: absolute; bottom: -1px; width: 100%; left: 0px; height: 2px; background-color: red; display: none;}
.tab li.tlact{}
.tab li.tlact span{display: inline-block;}

.olist{overflow: hidden; background-color: #fff;margin-bottom: 20px;}
.olist p.olHead{padding: 10px 15px;}
.olist p.olHead span{font-size: 1.2em; font-family: "STHeiti"; color: rgb(76, 76, 76);}
.olist p.olHead span:nth-child(1){}
.olist p.olHead span:nth-child(2){display: inline-block;float: right;color: #fe645a;}
.olist ul{}
.olist ul li{height: 66px; padding: 7px 10px; background-color: #f1f1f1;overflow: hidden; margin-bottom: 15px;}
.olist ul li:last-child{margin-bottom: 0px;}
.olist ul li img{width: 100%; max-width: 67px; max-height: 100px; float: left; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 20.5px 10px; border: 1px solid #d8d8d8; margin-right: 10px;}
.olist ul li .middle{float: left;height: 100%;}
.olist ul li .middle p{color: rgb(76, 76, 76);overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.olist ul li .right{float: right;text-align: right;height: 100%;}
.olist ul li .right p{color: rgb(183, 184, 184);}
.olist ul li .right p.rMidd{ color: #000;}
.olist p.olFoot{padding: 10px 15px 15px;text-align: right;font-size: 1.2em;}
.olist .footer{ height: 44px; background-color: #fff; border-top: 1px solid #d8d8d8; width: 100%;}
.olist .footer a{display: block; border-radius: 5px; width: 100px; text-align: center; height: 30px; line-height: 30px; color: #4c4c4c; border: 1px solid #4c4c4c; float: right; margin: 6px 15px 0px 0px;}
.olist .footer a.fact{color: #fe645a;border: 1px solid #fe645a;}
