@CHARSET "UTF-8";
.bar {position: fixed; right: 0; left: 0; z-index: 10; height: 44px; padding-right: 10px; padding-left: 10px; background-color: white; border-bottom: 1px solid #ddd; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.bar-nav {top: 0; }
.icon {display: inline-block; font-family: Ratchicons; font-size: 24px; line-height: 1; text-decoration: none; -webkit-font-smoothing: antialiased; }
.bar .icon {position: relative; z-index: 20; padding-top: 10px; padding-bottom: 10px; font-size: 24px; }
.title {top: 0px; position: absolute; display: block; width: 100%; padding: 0; margin: 0 -10px; font-weight: 500; line-height: 44px; color: #000;background-color: #f1f1f1; z-index: 1; text-align: center; font-size: 1.4em; font-family: "STHeiti"; color: rgb(76, 76, 76); white-space: nowrap;}
.bar .new-a-back{position: absolute; top: 0px; width: 40px; height: 44px; display: block; z-index: 2;}
.bar .new-a-back span{display: block; width: 20px; height: 20px; margin: 12px 0 0 0px; text-indent: -100px; overflow: hidden; background: url(../img/arrow.png) no-repeat;background-size: 20px 20px;}
.bar .new-a-menu{position: absolute; width: 40px; height: 44px; top: 0px; z-index: 1; right: 0px;}
.bar .new-a-menu span{display: block; width: 36px; height: 10px; text-indent: -100px; overflow: hidden; background: url(../img/menu.png) no-repeat; background-size: 70% 70%; margin: 18px 0px 10px 0px;}

.Cd_header{position: relative; top: 37px; float: right; z-index: 10; left: 10px; border: 1px solid #d8d8d8; border-bottom: none;}
.Cd_header span.Scolor{position: absolute; left: 56px; top: -11px; width: 0px; height: 0; font-size: 0; border-width: 9px; border-top-width: initial; border-style: dashed dashed solid dashed; border-color: transparent transparent #DCDCDC transparent;}
.Cd_header span.Sbg{position: absolute; left: 56px; top: -10px; width: 0; height: 0; font-size: 0; border-width: 9px; border-top-width: initial; border-style: dashed dashed solid dashed; border-color: transparent transparent #F1F1F1 transparent;}
.Cd_header li{background-color: #F1F1F1; width: 90px; border-bottom: 1px solid #d8d8d8;}
.Cd_header li a{text-decoration: none; color: #595959; display: block; line-height: 25px; overflow: hidden; padding: 5px;}
.Cd_header li a span{margin-left: 5px;}
.Cd_header li a i{display: inline-block; width: 25px; height: 25px; float: left; background: url(../img/bottom_icon.png) no-repeat; background-size: 150px 150px; background-position: -25px 0;}
.Cd_header li a i.home{}
.Cd_header li a i.shop{background-position: -25px -50px;}

.tab{margin-top: 45px; background-color: #fff; overflow: hidden;}
.tab li{float: left; box-sizing: border-box; -moz-box-sizing: border-box; width: calc(50% - 1px); color: rgb(76, 76, 76); -webkit-box-sizing: border-box; text-align: center; height: 45px; line-height: 45px; position: relative; border-bottom: 1px solid #d8d8d8;}
.tab li span{position: absolute; bottom: -1px; width: 100%; left: 0px; height: 2px; background-color: #2259BE; display: none;}
.tab li.tlact{}
.tab li.tlact span{display: inline-block;}
.tab span{display: block; height: 30px; width: 2px; background-color: #D8D8D8; float: left; margin-top: 5px; }

.CInfo_lc{border:1px solid #ADADAD;}
.CInfo_lc table{width: 100%; border-collapse: separate; border-spacing: 10px;}
.CInfo_lc table tr{}
.CInfo_lc table td{}
.card {padding-top: 1px; padding-bottom: 1px; box-shadow: 0 1px 3px rgba(0,0,0,.3); overflow: hidden; margin: 20px 10px; border-radius: 2px; background-color: #fff; }
.item {border-color: #ddd; background-color: #fff; color: #444; position: relative; z-index: 2; display: block; margin: -1px; padding: 16px; border-width: 1px; border-style: solid; font-size: 16px; }
    
