@CHARSET "UTF-8";
body{background-color: #f1f1f1;}
.bar {position: fixed; right: 0; left: 0; z-index: 10; height: 44px; padding-right: 10px; padding-left: 10px; background-color: white; border-bottom: 1px solid #ddd; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.bar-nav {top: 0; }
.icon {display: inline-block; font-family: Ratchicons; font-size: 24px; line-height: 1; text-decoration: none; -webkit-font-smoothing: antialiased; }
.bar .icon {position: relative; z-index: 20; padding-top: 10px; padding-bottom: 10px; font-size: 24px; }
.title {top: 0px; position: absolute; display: block; width: 100%; padding: 0; margin: 0 -10px; font-weight: 500; line-height: 44px; color: #000;background-color: #f1f1f1; z-index: 1; text-align: center; font-size: 1.4em; font-family: "STHeiti"; color: rgb(76, 76, 76); white-space: nowrap;}
.bar .new-a-back{position: absolute; top: 0px; width: 40px; height: 44px; display: block; z-index: 2;}
.bar .new-a-back span{display: block; width: 20px; height: 20px; margin: 12px 0 0 0px; text-indent: -100px; overflow: hidden; background: url(../img/arrow.png) no-repeat;background-size: 20px 20px;}
.bar .new-a-menu{position: absolute; width: 40px; height: 44px; top: 0px; z-index: 1; right: 0px;}
.bar .new-a-menu span{display: block; width: 36px; height: 10px; text-indent: -100px; overflow: hidden; background: url(../img/menu.png) no-repeat; background-size: 70% 70%; margin: 18px 0px 10px 0px;}
.clearbg{background-color: #fff;}

.Cd_header{position: relative; top: 37px; float: right; z-index: 10; left: 10px; border: 1px solid #d8d8d8; border-bottom: none;}
.Cd_header span.Scolor{position: absolute; left: 56px; top: -11px; width: 0px; height: 0; font-size: 0; border-width: 9px; border-top-width: initial; border-style: dashed dashed solid dashed; border-color: transparent transparent #DCDCDC transparent;}
.Cd_header span.Sbg{position: absolute; left: 56px; top: -10px; width: 0; height: 0; font-size: 0; border-width: 9px; border-top-width: initial; border-style: dashed dashed solid dashed; border-color: transparent transparent #fff transparent;}
.Cd_header li{background-color: #F1F1F1; width: 90px; border-bottom: 1px solid #d8d8d8;}
.Cd_header li a{text-decoration: none; color: #595959; display: block; line-height: 25px; overflow: hidden; padding: 5px;}
.Cd_header li a span{margin-left: 5px;}
.Cd_header li a i{display: inline-block; width: 25px; height: 25px; float: left; background: url(../img/bottom_icon.png) no-repeat; background-size: 150px 150px; background-position: -25px 0;}
.Cd_header li a i.home{}
.Cd_header li a i.shop{background-position: -25px -50px;}
.Cd_header li{background-color: #fff;}

div.list{height: 44px; line-height: 3.75em; padding: 10px 5%; border-bottom: 1px solid #d8d8d8;background-color: #fff; margin-top: 45px;}
div.list h2{font-size: 1.6em; font-family: "STHeiti"; color: #AAAAAA; display: inline-block; font-weight: 100;}
div.list a{display: block; float: right; height: 100%;}
div.list a .ionRight{background: url("../img/ionRight.png") center center no-repeat; width: 11px; height: 18px; display: inline-block; margin-top: 13.5px;}

.btitle{background-color: #fff; margin-top: 20px;padding: 0px 5%;}
.btitle p.olHead{  padding: 10px 0px; }
.btitle .footer{height: 55px; background-color: #fff; width: 100%;}
.btitle .footer a{display: block; width: 100px; text-align: center; height: 30px; line-height: 30px; color: #4c4c4c; border: 1px solid #4c4c4c; float: left;margin-right: 15px;}
.btitle .footer a.fact{color:#2259be;border:1px solid #2259be;}

.mode{background-color: #fff;padding: 0px 5%;margin-top: 20px;overflow: hidden;}
.mode p.olHead{  padding: 10px 0px; font-size:1.2em;}
.mode .item{overflow: hidden;position: relative; width: 100%; margin-bottom: 10px; }
.mode .item select.iSelect{width: 100%; height: 44px; line-height: normal; border: 1px solid #d7d7d7; border-radius: 3px; background: #fff; font-family: '\5fae\8f6f\96c5\9ed1'; font-size: 16px; color: #252525; padding-left: 15px;}
.mode .item select.iU2{width: 45%; float: left; margin-right: 5%;}
.mode .item select.iU2:last-child{width: 50%;margin-right: 0px;}
.mode p.olFoot{padding-bottom: 10px;color: #9F9F9F;}

.hlist{overflow:hidden;margin-top: 20px;background-color: #fff;}
.hlist li{overflow: hidden;  padding: 10px 5%; border-top: 1px solid #d8d8d8;}
.hlist li div{float: left;}
.hlist li .hleft{width: 22%;margin-right: 5%;}
.hlist li .hleft img{width: 100px;}
.hlist li .hmiddle{width: 48%;}
.hlist li .hmiddle p{}
.hlist li .hmiddle p:last-child{color: #4F4F4F;}
.hlist li .hright{width: 25%;line-height: 30px; height: 30px;text-align: right;}
.hlist li .hright span{color: rgb(231, 98, 9);}

.pay{background-color: #fff; margin-top: 15px;padding: 0px 5%;}
.pay p.olHead{padding: 10px 0px; }
.pay p.olHead span{font-size: 1.2em; font-family: "STHeiti"; color: rgb(76, 76, 76);}
.pay p.olHead span:nth-child(1){}
.pay p.olHead span:nth-child(2){display: inline-block; float: right;color: #e76209;}
.pay p.olFoot{color: #4A80E1;padding: 0px 0px 10px;}
.pay .pI{background-color: #F1F1F1; border: 1px solid #F1F1F1; margin-bottom: 10px; padding: 5px; width: 100%;}

.perfect{display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; margin: 15px auto; background-color: #A8A8A8; color: #fff; padding: 5px 10px; width: 160px; text-align: center; border-radius: 5px;}
.buy{background-color: #fff; text-align: center; padding: 15px 0px;}
.buy span{color: #E76209;}

.bfooter{position: fixed; bottom: 0px; width: 100%; height: 45px; line-height: 45px;}
.bfooter a{background-color: #2259BE; width: 100%; display: block; color: #fff; text-align: center; height: 100%; font-size: 1.5em;}
