@CHARSET "UTF-8";
body{background-color: #f1f1f1;}
.bar {position: fixed; right: 0; left: 0; z-index: 10; height: 44px; padding-right: 10px; padding-left: 10px; background-color: white; border-bottom: 1px solid #ddd; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.bar-nav {top: 0; }
.icon {display: inline-block; font-family: Ratchicons; font-size: 24px; line-height: 1; text-decoration: none; -webkit-font-smoothing: antialiased; }
.bar .icon {position: relative; z-index: 20; padding-top: 10px; padding-bottom: 10px; font-size: 24px; }
.title {top: 0px; position: absolute; display: block; width: 100%; padding: 0; margin: 0 -10px; font-weight: 500; line-height: 44px; color: #000;background-color: #f1f1f1; z-index: 1; text-align: center; font-size: 1.4em; font-family: "STHeiti"; color: rgb(76, 76, 76); white-space: nowrap;}
.bar .new-a-back{position: absolute; top: 0px; width: 40px; height: 44px; display: block; z-index: 2;}
.bar .new-a-back span{display: block; width: 20px; height: 20px; margin: 12px 0 0 0px; text-indent: -100px; overflow: hidden; background: url(../img/arrow.png) no-repeat;background-size: 20px 20px;}
.bar .new-a-menu{position: absolute; width: 40px; height: 44px; top: 0px; z-index: 1; right: 0px;}
.bar .new-a-menu span{display: block; width: 36px; height: 10px; text-indent: -100px; overflow: hidden; background: url(../img/menu.png) no-repeat; background-size: 70% 70%; margin: 18px 0px 10px 0px;}

.Cd_header{position: relative; top: 37px; float: right; z-index: 10; left: 10px; border: 1px solid #d8d8d8; border-bottom: none;}
.Cd_header span.Scolor{position: absolute; left: 56px; top: -11px; width: 0px; height: 0; font-size: 0; border-width: 9px; border-top-width: initial; border-style: dashed dashed solid dashed; border-color: transparent transparent #DCDCDC transparent;}
.Cd_header span.Sbg{position: absolute; left: 56px; top: -10px; width: 0; height: 0; font-size: 0; border-width: 9px; border-top-width: initial; border-style: dashed dashed solid dashed; border-color: transparent transparent #F1F1F1 transparent;}
.Cd_header li{background-color: #F1F1F1; width: 90px; border-bottom: 1px solid #d8d8d8;}
.Cd_header li a{text-decoration: none; color: #595959; display: block; line-height: 25px; overflow: hidden; padding: 5px;}
.Cd_header li a span{margin-left: 5px;}
.Cd_header li a i{display: inline-block; width: 25px; height: 25px; float: left; background: url(../img/bottom_icon.png) no-repeat; background-size: 150px 150px; background-position: -25px 0;}
.Cd_header li a i.home{}
.Cd_header li a i.shop{background-position: -25px -50px;}

.block_home_slider {margin-top:45px;position: relative; background-color: #ffffff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; behavior: url(js/PIE.htc); text-align: center; line-height: 0px; margin-right: auto; margin-left: auto; }
.block_home_slider .slide {position:relative;}
.block_home_slider .flex-direction-nav a {width:25px; height:25px; margin-top:-27px; display:block; position:absolute; top:50%; background-repeat:no-repeat; background-image:url(sprite_arrow_2.png); text-indent:-9000px;}
.block_home_slider .flex-direction-nav a.flex-prev {left:6px; background-position:left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right:6px; background-position:right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
.block_home_slider .flex-control-paging {display:inline-block; position: relative;margin-bottom: 10px;}
.block_home_slider .flex-control-paging li {margin: 0px; padding: 0px; float: left; overflow: hidden; list-style-type: none; }
.block_home_slider .flex-control-paging li a {width:12px; height:12px; display:block; background-repeat:no-repeat; background-image:url(sprite_nav_3.png); text-indent:-9000px; cursor:pointer;}
.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}
.block_home_slider .flexslider {margin: 0; padding: 0;}
.block_home_slider .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; list-style-type: none; }
.block_home_slider .flexslider .slides img {width: 100%; display: block;box-sizing: border-box;  -moz-box-sizing:border-box; -webkit-box-sizing:border-box;padding: 35px 5%;}

.info{border-top: 1px solid #D8D8D8;overflow: hidden;background-color: #fff;padding: 10px 5%;}
.info .iLeft{float: left;}
.info .iLeft p{color: rgb(76, 76, 76);}
.info .iLeft span{color: rgb(231, 98, 9);}
.info .iRight{float: right;text-align: center;}
.info .iRight i{background: url("../img/xingxing.png") no-repeat; display: inline-block;margin-bottom: 10px; width: 16px; height: 16px;}
.info .iRight span{color: #B7B8B8;}

.num{padding: 10px 5%; background-color: #fff; margin-top: 15px;}
.num p.ntit{margin-bottom: 10px; }
.num p.ntit span{margin-right: 10px; width: 24px; display: inline-block; }
.num .ncont{padding-left: 34px; }
.num .ncont p.ncp{color: rgb(76, 76, 76); font-size: 1em; margin-bottom: 5px; }
.num .ncont input{width: 35px; height: 30px; padding: 5px; }
.num .ncont input.he{margin-right: 10px; }
.num .ncont input.hec{margin: 0px 10px; width: 45px; }

div.list{margin-bottom:44px;height: 44px; line-height: 3.75em; padding: 0px 10px; border-bottom: 1px solid #d8d8d8;background-color: #fff; margin-top: 10px;}
div.list h2{font-size: 1.2em; font-family: "STHeiti"; color: rgb(52, 52, 52); display: inline-block; margin-left: 10px; font-weight: 100;}
div.list a{display: block; float: right; height: 100%;}
div.list a .ionRight{background: url("../img/ionRight.png") center center no-repeat; width: 11px; height: 18px; display: inline-block; margin-top: 13.5px;}

.C_footer{position: fixed; bottom: 0px; height: 44px; width: 100%;}
.C_footer a{text-decoration: none; color: #FFF; display: block; float: left; height: 44px; line-height: 44px; text-align: center;}
.C_footer a.fa1{background-color: #FAA643; width: 40%;}
.C_footer a.fa2{background-color: #2259be; width: 60%;}

.cFixed{position: fixed; top:200px; left: 10px;z-index: 10;}
.cFixed .cfbg{background-color: #979797; width: 40px; height: 40px; position: fixed; opacity: 0.7; border-radius: 50%; }
.cFixed .cfCont{width: 40px; height: 40px; position: fixed; color: #fff; text-align: center; line-height: 40px; }
.cFixed .cfCont span.cff{position: absolute; top: -10px; left: -5px; background-color: #343434; width: 20px; height: 20px; line-height: 20px; border-radius: 50%;}
.cFixed .cfCont span.cftip{}