@CHARSET "UTF-8";
body{background-color: #f1f1f1;}
.bar {position: fixed; right: 0; left: 0; z-index: 10; height: 44px; padding-right: 10px; padding-left: 10px; background-color: #f1f1f1; border-bottom: 1px solid #ddd; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.bar-nav {top: 0; }
.icon {display: inline-block; font-family: Ratchicons; font-size: 24px; line-height: 1; text-decoration: none; -webkit-font-smoothing: antialiased; }
.bar .icon {position: relative; z-index: 20; padding-top: 10px; padding-bottom: 10px; font-size: 24px; }
.title {top: 0px; position: absolute; display: block; width: 100%; padding: 0; margin: 0 -10px; font-weight: 500; line-height: 44px; color: #000;background-color: #f1f1f1; z-index: 1; text-align: center; font-size: 1.4em; font-family: "STHeiti"; color: rgb(76, 76, 76); white-space: nowrap;}
.bar .new-a-back{position: absolute; top: 0px; width: 40px; height: 44px; display: block; z-index: 2;}
.bar .new-a-back span{display: block; width: 20px; height: 20px; margin: 12px 0 0 0px; text-indent: -100px; overflow: hidden; background: url(../img/arrow.png) no-repeat;background-size: 20px 20px;}
.bar .new-a-menu{position: absolute; width: 40px; height: 44px; top: 0px; z-index: 1; right: 0px;}
.bar .new-a-menu span{display: block; width: 36px; height: 10px; text-indent: -100px; overflow: hidden; background: url(../img/menu.png) no-repeat; background-size: 70% 70%; margin: 18px 0px 10px 0px;}
.bar .tInput{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding-left: 15px;border: 1px solid #dddddd;position: absolute; top: 5px;height: 35px; width: calc(100% - 90px); left: 40px;}
.bar .bsearch{position: absolute;width: 35px;height: 35px;top: 5px; z-index: 1;right: 15px;background-color: #2259BE;}
.bar .bsearch span{display: block;width: 24px;height: 24px; text-indent: -100px; overflow: hidden; background: url(../img/search.png) no-repeat;margin: 5px;}

.blist{overflow: hidden;margin-top: 45px;padding: 10px 5%;border-bottom: 1px solid #DCDCDC;}
.blist p.olHead{padding: 10px 0px; color: #BDBEBE; }
.blist ul{}
.blist ul li{float: left; width: 19%; border: 1px solid #DEDEDE; text-align: center; box-sizing: border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding: 7px 5px; margin: 0px 1% 10px 0px; }
.blist ul li:nth-child(5n){margin-right:0px;}

.tlist{overflow: hidden; }
.tlist li{box-sizing: border-box; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding: 10px 5%; border-bottom: 1px solid #DCDCDC; }
.tlist li i{background: url("../img/time.png") no-repeat;display: inline-block;width: 24px;height: 24px;background-size: 70% 70%;float: left;}

.footer{position: fixed; bottom: 0px; width: 100%; height: 45px; line-height: 45px;border-top: 1px solid #bdbfc3;}
.footer .fRL{float: left; margin: 10px; width: 60px; }
.footer .fRL a.fL{background: url("../img/arrow.png") no-repeat;display: block;width: 20px;height: 20px;float: left;}
.footer .fRL a.fR{background: url("../img/arrowR.png") no-repeat;display: block;width: 20px;      height: 20px;float: right;}
.footer a.suc{float: right; color: #046FFF; display: block; margin-right: 10px; }

