@CHARSET "UTF-8";
body{background-color: #fff;}
.bar {position: fixed; right: 0; left: 0; z-index: 10; height: 44px; padding-right: 10px; padding-left: 10px; background-color: white; border-bottom: 1px solid #ddd; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.bar-nav {top: 0; }
.icon {display: inline-block; font-family: Ratchicons; font-size: 24px; line-height: 1; text-decoration: none; -webkit-font-smoothing: antialiased; }
.bar .icon {position: relative; z-index: 20; padding-top: 10px; padding-bottom: 10px; font-size: 24px; }
.title {top: 0px; position: absolute; display: block; width: 100%; padding: 0; margin: 0 -10px; font-weight: 500; line-height: 44px; color: #000;background-color: #f1f1f1; z-index: 1; text-align: center; font-size: 1.4em; font-family: "STHeiti"; color: rgb(76, 76, 76); white-space: nowrap;}
.bar .new-a-back{position: absolute; top: 0px; width: 40px; height: 44px; display: block; z-index: 2;}
.bar .new-a-back span{display: block; width: 20px; height: 20px; margin: 12px 0 0 0px; text-indent: -100px; overflow: hidden; background: url(../img/arrow.png) no-repeat;background-size: 20px 20px;}
.bar .new-a-menu{position: absolute; width: 40px; height: 44px; top: 0px; z-index: 1; right: 0px;}
.bar .new-a-menu span{display: block; width: 36px; height: 10px; text-indent: -100px; overflow: hidden; background: url(../img/menu.png) no-repeat; background-size: 70% 70%; margin: 18px 0px 10px 0px;}

.Cd_header{position: relative; top: 37px; float: right; z-index: 10; left: 10px; border: 1px solid #d8d8d8; border-bottom: none;}
.Cd_header span.Scolor{position: absolute; left: 56px; top: -11px; width: 0px; height: 0; font-size: 0; border-width: 9px; border-top-width: initial; border-style: dashed dashed solid dashed; border-color: transparent transparent #DCDCDC transparent;}
.Cd_header span.Sbg{position: absolute; left: 56px; top: -10px; width: 0; height: 0; font-size: 0; border-width: 9px; border-top-width: initial; border-style: dashed dashed solid dashed; border-color: transparent transparent #F1F1F1 transparent;}
.Cd_header li{background-color: #F1F1F1; width: 90px; border-bottom: 1px solid #d8d8d8;}
.Cd_header li a{text-decoration: none; color: #595959; display: block; line-height: 25px; overflow: hidden; padding: 5px;}
.Cd_header li a span{margin-left: 5px;}
.Cd_header li a i{display: inline-block; width: 25px; height: 25px; float: left; background: url(../img/bottom_icon.png) no-repeat; background-size: 150px 150px; background-position: -25px 0;}
.Cd_header li a i.home{}
.Cd_header li a i.shop{background-position: -25px -50px;}

.footer{position: fixed; bottom: 0px; width: 100%; height: 45px; line-height: 45px;}
.footer a{background-color: #2259BE; width: 100%; display: block; color: #fff; text-align: center; height: 100%; font-size: 1.5em;}

ul.list{background-color: #fff; margin-top: 45px;margin-bottom: 20px;}
ul.list li{height: 44px; line-height: 44px; padding: 5px 10px; border-bottom: 1px solid #d8d8d8; }
ul.list li:last-child{border-bottom: none;}
ul.list i.ulsend{width: 44px; height: 44px; display: inline-block; float: left;background: url("../img/tick.png") center center no-repeat;}
ul.list li p{width: calc(100% - 74px); float: left;margin-top: 7.5px; font-size: 1em; line-height: 1em;}
ul.list li p span.uname{margin-right: 5px;}
ul.list li p span.uadd{margin-top: 5px; display: block; color: #b7b8b8;}
ul.list i.ionRight{float: right; background: url("../img/book.png") center center no-repeat; width: 30px; height: 32px; display: inline-block; background-size: 70% 70%;}
