@CHARSET "UTF-8";
.bar {position: fixed; right: 0; left: 0; z-index: 10; height: 44px; padding-right: 10px; padding-left: 10px; background-color: #f1f1f1; border-bottom: 1px solid #ddd; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.bar-nav {top: 0; }
.icon {display: inline-block; font-family: Ratchicons; font-size: 24px; line-height: 1; text-decoration: none; -webkit-font-smoothing: antialiased; }
.bar .icon {position: relative; z-index: 20; padding-top: 10px; padding-bottom: 10px; font-size: 24px; }
.title {top: 0px; position: absolute; display: block; width: 100%; padding: 0; margin: 0 -10px; font-weight: 500; line-height: 44px; color: #000;background-color: #f1f1f1; z-index: 1; text-align: center; font-size: 1.4em; font-family: "STHeiti"; color: rgb(76, 76, 76); white-space: nowrap;}
.bar .new-a-back{position: absolute; top: 0px; width: 40px; height: 44px; display: block; z-index: 2;}
.bar .new-a-back span{display: block; width: 20px; height: 20px; margin: 12px 0 0 0px; text-indent: -100px; overflow: hidden; background: url(../img/arrow.png) no-repeat;background-size: 20px 20px;}
.bar .new-a-menu{position: absolute; width: 40px; height: 44px; top: 0px; z-index: 1; right: 0px;}
.bar .new-a-menu span{display: block; width: 36px; height: 10px; text-indent: -100px; overflow: hidden; background: url(../img/menu.png) no-repeat; background-size: 70% 70%; margin: 18px 0px 10px 0px;}
.search {width: 24px; height: 24px; background: url('../img/funnel.png') center center no-repeat; background-size: 70% 70%; position: absolute; top: 10px; right: 48px; z-index: 2; }
.funnel{border-right: 1px solid #d8d8d8;width: 30px; height: 32px; background: url('../img/funnel.png') center center no-repeat; background-size: 70% 70%; position: absolute; top: 5px; right: 48px; z-index: 2;}
.bar .tInput{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding-left: 15px;border: 1px solid #dddddd;position: absolute; top: 5px; height: 30px; width: calc(100% - 120px); left: 40px;}

.subnav{overflow: hidden;margin-top: 45px;padding: 5px;background-color: #f1f1f1;border-bottom: 1px solid #E0E0E0;}
.subnav li{float: left; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 25%; border-right: 1px solid #E0E0E0; text-align: center; padding: 7px 5px;}
.subnav li:last-child{border-right: none;}
.subnav li i{background: url("../img/bottom.png") no-repeat; width: 16px; height: 9px; display: inline-block; margin-left: 5px;}

.list{overflow: hidden;}
.item {border-color: #ddd; background-color: #fff; color: #444; position: relative; z-index: 2; display: block; margin: -1px; padding: 16px; border-width: 1px; border-style: solid; font-size: 1em; }
.item p {color: #666; font-size: 14px; margin-bottom: 2px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.Goffice_item{padding: 10px 5px;}
.Goffice_item img{width: 100%; max-width: 60px; max-height: 100px; float: left; margin-right: 10px; padding-bottom: 26px; padding-top: 20px;}
.Goffice_item p.item_p1{color: #6A6A6A;}
.Goffice_item p.item_p2{color: #5C5C5C;padding-bottom: 5px;}
.Goffice_item span.item_money{color: #EE3C2E;}
.Goffice_item span{color: #E8E8E8;}
.Goffice_item .te,.Goffice_item .xin,.Goffice_item .cu{display: inline-block; font-style: normal; color: #fff; font-size: 12px; line-height: 15px; text-align: center; width: 15px; height: 15px; margin-left: 5px;}
.Goffice_item .te{background:#FF8501;}
.Goffice_item .cu{background:#52A2EA;}
.Goffice_item .xin{background:#FD4B6B;}
.Goffice_item .item_cart{background: #F66560; float: right; border-radius: 24px; width: 30px; height: 30px; padding: 6px;}
.Goffice_item .img_cart{padding-top: 0px;}
.Goffice_item .trash{float: right; background: url("../img/cart.png") center center no-repeat; width: 32px; height: 32px; display: inline-block; margin-top: -7.5px; background-size: 70% 70%;}