body{background-color: #f1f1f1;}
.bar {position: fixed; right: 0; left: 0; z-index: 10; height: 44px; padding-right: 10px; padding-left: 10px; background-color: white; border-bottom: 1px solid #ddd; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.bar-nav {top: 0; }
.icon {display: inline-block; font-family: Ratchicons; font-size: 24px; line-height: 1; text-decoration: none; -webkit-font-smoothing: antialiased; }
.bar .icon {position: relative; z-index: 20; padding-top: 10px; padding-bottom: 10px; font-size: 24px; }
.title {top: 0px; position: absolute; display: block; width: 100%; padding: 0; margin: 0 -10px; font-weight: 500; line-height: 44px; color: #000;background-color: #f1f1f1; z-index: 1; text-align: center; font-size: 1.4em; font-family: "STHeiti"; color: rgb(76, 76, 76); white-space: nowrap;}
.bar .new-a-back{position: absolute; top: 0px; width: 40px; height: 44px; display: block; z-index: 2;}
.bar .new-a-back span{display: block; width: 20px; height: 20px; margin: 12px 0 0 0px; text-indent: -100px; overflow: hidden; background: url(../img/arrow.png) no-repeat;background-size: 20px 20px;}
.bar .new-a-menu{position: absolute; width: 40px; height: 44px; top: 0px; z-index: 1; right: 0px;}
.bar .new-a-menu span{display: block; width: 36px; height: 10px; text-indent: -100px; overflow: hidden; background: url(../img/menu.png) no-repeat; background-size: 70% 70%; margin: 18px 0px 10px 0px;}

.sd{text-align: center;padding: 10px; border-bottom: 1px solid #d8d8d8; background-color: #fff; margin-top: 45px;}
.sd img{margin: 10px;}
.sd p{font-size: 1.5em; font-family: "STHeiti"; line-height: 1.5em; color: rgb(76, 76, 76); text-align: left; }
.sd p span{color: #f48009;}
.sd p a{color: #3a95e6;}

.pay{background-color: #fff; margin-top: 20px;border-bottom: 1px solid #d8d8d8;border-top: 1px solid #d8d8d8;}
.pay p.olHead{padding: 10px 15px;}
.pay p.olHead span{font-size: 1.2em; font-family: "STHeiti";color: rgb(173, 173, 173);}
.pay p.olHead span:nth-child(2){display: inline-block; float: right; color: rgb(76, 76, 76);}

.success{display: block;color: #fff;text-align: center;line-height: 35px;margin-top: 20px;background-color: #428bca;border: 1px solid #428bca;width: 90%;padding: 5px 0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;border-radius: 3px;margin-bottom: 10px;font-size: 1.5em;margin: 5%;}
