<!DOCTYPE html>
<html lang="en">
<head>
<title>首度 后台</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/static/assets/backpage/css/bootstrap.min.css"  type="text/css"/>
<link rel="stylesheet" href="/static/assets/backpage/css/bootstrap-responsive.min.css" type="text/css"/>
<link rel="stylesheet" href="/static/assets/backpage/css/uniform.css" type="text/css"/>
<link rel="stylesheet" href="/static/assets/backpage/css/select2.css" type="text/css"/>
<link rel="stylesheet" href="/static/assets/backpage/css/matrix-style.css" type="text/css"/>
<link rel="stylesheet" href="/static/assets/backpage/css/matrix-media.css" type="text/css"/>
<link href="/static/assets/backpage/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>/static/assets
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">首度 后台</a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-check"></i> My Tasks</a></li>
        <li class="divider"></li>
        <li><a href="login.html"><i class="icon-key"></i>退出登陆</a></li>
      </ul>
    </li>
    
   
    <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">退出登陆</span></a></li>
  </ul>
</div>

<!--start-top-serch-->

<!--close-top-serch--> 

<!--sidebar-menu-->

<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
  <ul>
    
    
    <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>Addons</span> <span class="label label-important">5</span></a>
      <ul>
        <li><a href="index2.html">Dashboard2</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="calendar.html">Calendar</a></li>
        <li><a href="chat.html">Chat option</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>
      <ul>
        <li><a href="error403.html">Error 403</a></li>
        <li><a href="error404.html">Error 404</a></li>
        <li><a href="error405.html">Error 405</a></li>
        <li><a href="error500.html">Error 500</a></li>
      </ul>
    </li>
    
  </ul>
</div>
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>
    <h1>人事管理</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        
      
       
        
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Data table</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table with-check">
              <thead>
                <tr>
                  <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                  <th>Rendering engine</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                </tr>
              </thead>
              <tbody>
                <tr class="gradeX">
                  <td><input type="checkbox" /></td>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 4.0</td>
                  <td>Win 95+</td>
                  <td class="center">4</td>
                </tr>
               
                <tr class="gradeC">
                  <td><input type="checkbox" /></td>
                  <td>Misc</td>
                  <td>PSP browser</td>
                  <td>PSP</td>
                  <td class="center">-</td>
                </tr>
                <tr class="gradeU">
                  <td><input type="checkbox" /></td>
                  <td>Other browsers</td>
                  <td>All others</td>
                  <td>-</td>
                  <td class="center">-</td>
                </tr>
                 <tr class="gradeX">
                  <td><input type="checkbox" /></td>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 4.0</td>
                  <td>Win 95+</td>
                  <td class="center">4</td>
                </tr>
               
                <tr class="gradeC">
                  <td><input type="checkbox" /></td>
                  <td>Misc</td>
                  <td>PSP browser</td>
                  <td>PSP</td>
                  <td class="center">-</td>
                </tr>
                <tr class="gradeU">
                  <td><input type="checkbox" /></td>
                  <td>Other browsers</td>
                  <td>All others</td>
                  <td>-</td>
                  <td class="center">-</td>
                </tr>
                 <tr class="gradeX">
                  <td><input type="checkbox" /></td>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 4.0</td>
                  <td>Win 95+</td>
                  <td class="center">4</td>
                </tr>
               
                <tr class="gradeC">
                  <td><input type="checkbox" /></td>
                  <td>Misc</td>
                  <td>PSP browser</td>
                  <td>PSP</td>
                  <td class="center">-</td>
                </tr>
                <tr class="gradeU">
                  <td><input type="checkbox" /></td>
                  <td>Other browsers</td>
                  <td>All others</td>
                  <td>-</td>
                  <td class="center">-</td>
                </tr>
                 <tr class="gradeX">
                 <td><input type="checkbox" /></td>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 4.0</td>
                  <td>Win 95+</td>
                  <td class="center">4</td>
                </tr>
               
                <tr class="gradeC">
                  <td><input type="checkbox" /></td>
                  <td>Misc</td>
                  <td>PSP browser</td>
                  <td>PSP</td>
                  <td class="center">-</td>
                </tr>
                <tr class="gradeU">
                  <td><input type="checkbox" /></td>

                  <td>Other browsers</td>
                  <td>All others</td>
                  <td>-</td>
                  <td class="center">-</td>
                </tr>
                 <tr class="gradeX">
                 <td><input type="checkbox" /></td>
                  <td>Trident</td>
                  <td>Internet
                    Explorer 4.0</td>
                  <td>Win 95+</td>
                  <td class="center">4</td>
                </tr>
               
                <tr class="gradeC">
                  <td><input type="checkbox" /></td>
                  <td>Misc</td>
                  <td>PSP browser</td>
                  <td>PSP</td>
                  <td class="center">-</td>
                </tr>
                <tr class="gradeU">
                  <td><input type="checkbox" /></td>
                  <td>Other browsers</td>
                  <td>All others</td>
                  <td>-</td>
                  <td class="center">-</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part-->
<script src="/static/assets/backpage/js/jquery.min.js"></script> 
<script src="/static/assets/backpage/js/jquery.ui.custom.js"></script> 
<script src="/static/assets/backpage/js/bootstrap.min.js"></script> 
<script src="/static/assets/backpage/js/jquery.uniform.js"></script> 
<script src="/static/assets/backpage/js/select2.min.js"></script> 
<script src="/static/assets/backpage/js/jquery.dataTables.min.js"></script> 
<script src="/static/assets/backpage/js/matrix.js"></script> 
<script src="/static/assets/backpage/js/matrix.tables.js"></script>
</body>
</html>
