{% extends "./inc/base.html" %} {% block style %}

<link rel="stylesheet" type="text/css" href="/static/assets/css/production.css"> 
<style type="text/css" media="screen">
    .product{

        font-weight:bolder;
        font-size: 18px;

    }
</style>
<style>
    .more{
        font-size: 20px;
        vertical-align: middle;
    }
</style>
{% endblock %} {% block content %}
<div id="fullpage" class="container top">

      
    <div class="section">
            
             <h1 class="blod ">
            FD-Exome <a class="more" href="http://www.fulesong.com.cn/">了解更多</a>
             </h1>
             <br>
             <h2>{{tips}}</h2>
            <div class="row">
            <div class="col-md-6" >
                        <img src="/static/assets/img/FD-Exome.png" class="img-responsive" >
            </div>
            <div class="col-md-6 list-group-item" >
                        <div style="display: none">
                            <input type="text"  id="price" value='{{price}}'>
                            <input type="text" id="itemId" value='5'>

                        </div>
                        <div class="product"><span >检测项目：FD-Exome(FD-福乐颂)</span></div>
                        <br>
                        <br>
                        <div class="product"><span >价格:￥</span ><span style="font-size: 22px;color: red">{{price}}</span></div>
                        <br>
                        <br>
                        <div class="product"><ul class="list-inline"><li>数量：</li><li><input type="text" class="spinner" id="number"/></li></ul></div>
                        <br>
                        <br>
                        <div><button class="btn btn-success" id='buy'>立即购买</button></div>
            </div>
            
        </div>
     </div> 
        <form action="/production/buy" method="get" accept-charset="utf-8" style="display: none" id="form1">
            <input type="text" name="pname" value="FD-Exome">
            <input type="text" name="ft" value="5">
            <input type="text" name="price" value="{{price}}">
            <input type="text" name="ft_n" value="1" id="number1">
        </form>
    <div class="section">
        <h1 class="blod exome">
            FD-Exome <span class="ver-super">TM</span> 解读您的生命密码
        </h1>
        <div class="gray-bg">
            <div class="" data-name="ctDNA">
                <div class="row">
                    <span>临床背景：</span> 现在我们知道， 一个人的生命是一个由其基因组控制的信息系统。 基因组就是我们生命的主程序。 我们是被它创造的， 我们的生命是由它掌控的。 拿到这个主程序， 是我们了解、掌控生命的重大事件，也是人类文明历史的重大事件。 首度的“全基因”测序产品， 也称 “全外显子”测序， 检测人类已知的基因蛋白编码区域以及基因调控区域。 人类基因组大约含有3万个蛋白质编码基因， 由1 8万个外显子组成，仅占人类基因组总长度约1 %， 但90%以上的人类已知遗传变异， 都集中在该区域。 因此， 全外显子检测相比全基因测序具有更高的性价比。 首度基因自主开发的 FD-EXOME全方位遗传检测，它具有无创、准确、全面的特点。基于高通量测序平台， 采用目标区域捕获技术， 一次性平行检测外显子组内全部基因，以及已知的基因调控区域（非编码，但已知部分功能） ，精准捕捉遗传性肿瘤的致病突变。首度自主开发的第三种算法，并行扫描人类全部基因的外显子区域突变情况，分析5000种左右的人群罕见遗传病，对常见疾病风险、营养代谢能力、以及药物使用风险进行有效预测， 从而达到有针对性地进行健康管理的目的。 </div>
                <div class="row">
                    <div class="col-md-6">
                        FD-EXOME <span class="ver-super">TM</span>完全覆盖现在市场上几乎所有面向遗传的基因检测项目， 包括：
                        <ul>
                            <li>所有的已知的单基因遗传疾病</li>
                            <li>所有的已知的癌症易感基因</li>
                            <li>所有的已知的药物代谢基因</li>
                            <li>所有的已知的心血管疾病易感基因</li>
                            <li>所有的已知的糖尿病易感基因</li>
                            <li>所有的已知的人类各种疾病易感基因和致病基因</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        在趣味检测方面， Exome <span class="ver-super">TM</span>产品可以提供你的:
                        <ul>
                            <li>营养代谢能力</li>
                            <li>个体感观能力</li>
                            <li>运动天赋</li>
                            <li>智力分析</li>
                            <li>祖源分析、家系分析</li>
                        </ul>
                        我们将向您提供您所有的基因缺陷列表。这份列表，包含您所有的遗传缺陷。了解这些缺陷，对于您的终身健康与身体保养， 具有重大指导意义。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <h1 class="blod">WHAT IS FD-Exome <span class="ver-super">TM</span> TESTED</h1>
        <h3 class="regular bottom">检测内容</h3>
        <div class="row pro-features">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h1>20 <span class="ver-super">+</span></h1>
                <div><span>20</span>多种遗传性肿瘤基因突变检测</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h1>30 <span class="ver-super">+</span></h1>
                <div><span>30</span>种营养代谢能力检测</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h1>100 <span class="ver-super">+</span></h1>
                <div><span>100</span>多种常见疾病风险个体基因型检测</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h1>100 <span class="ver-super">+</span></h1>
                <div><span>100</span>多种药物使用风险监测</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h1>400 <span class="ver-super">+</span></h1>
                <div><span>400</span>多种单基因遗传病检测</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h1>5000 <span class="ver-super">+</span></h1>
                <div><span>5000</span>多种罕见遗传病检测</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h1>ALL <span class="ver-super">1</span></h1>
                <div>所有已知的心血管疾病检测</div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <h1>ALL <span class="ver-super">2</span></h1>
                <div>个体全部缺陷基因列表</div>
            </div>
        </div>
    </div>
    <div class="section">
        <h1 class="blod">FD-Exome <span class="ver-super">TM</span></h1>
        <h3 class="regular">产品介绍</h3>
        <div class="">
            <p>全外显子测序，首先利用序列捕获技术，将全基因组外显子区域内的DNA进行捕获、并富集。然后，再进行高通量测序，是一种达到精确获取基因蛋白编码的高效策略。 相比于全基因组测序，全外显子测序具有更简便、经济、高效等特点；其目标区域的测序深度可以大大提升 （>200X)， 便于变异的精确检测。</p>
            <p>FD-Exome检测项目包含遗传性肿瘤基因突变检测、 常见疾病风险的个体基因型检测、单基因遗传病检测、营养代谢能力检测、药物使用风险检测、个体全部缺陷基因（stopgain/stoploss/Frameshift）列表。针对已知基因变异进行详细解读，针对未知变异进行实时跟踪，全方位解读您的生命密码，实现个体化健康管理的目的。</p>
            <p>对于癌症的发生来说，它是遗传因素和环境因素共同作用的结果。例如：乳腺癌、结肠癌、前列腺癌、子宫内膜癌、胃癌等多种癌症都具有较为显著的家族聚集性，并伴随有较高的遗传性。 若家族近亲中有两人或两人以上患有癌症， 那么其余家族成员罹患癌症的风险就大大增加。对于其它一些常见疾病如肥胖、老年痴呆、高血压、 糖尿病等患病风险也与自身携带的基因型密切相关。</p>
        </div>
    </div>
    <div class="section">
        <h1 class="blod">FD-Exome <span class="ver-super">TM</span> ADVANTAGES</h1>
        <h3 class="regular bottom">产品优势</h3>
        <div class="row pro-features list-group exome-icon">
            <div class="col-md-6 list-group-item">
                        <img src="/static/assets/img/ex1.png">
                        <h4 class="blod">全面检测覆盖</h4><p>一次检测即可覆盖全部基因的外显子区域，发现人类已知的全部遗传易感基因信息</p>
            </div>
            <div class="col-md-6 list-group-item">
                        <img src="/static/assets/img/ex2.png">
                        <h4 class="blod">无创采样</h4><p> 样本采集便携、无创（参见样本要求）</p>
            </div>
        </div>
        <div class="row pro-features list-group exome-icon">
            <div class="col-md-6 list-group-item">
                        <img src="/static/assets/img/ex3.png">
                        <h4 class="blod">专业生物信息分析</h4><p>生物、 医学信息分析专业团队参考国际权威人类基因组数据库，进行基因变异的全面精准分析</p>
            </div>
            <div class="col-md-6 list-group-item">
                        <img src="/static/assets/img/ex4.png">
                        <h4 class="blod">临床精准水平</h4><p >高深度、高精度基因测序。依据分子原理提供合多组学数据优势，依据分子原理提供的全局性的图谱，深入进行个体化分子分型，综合多组学数据优势，全面把握患者疾病进展情，精准指导临床诊疗</p>
            </div>
        </div>
        <div class="row pro-features list-group exome-icon">
            <div class="col-md-6 list-group-item">
                        <img src="/static/assets/img/ex5.png">
                        <h4 class="blod">网络发布、实时解读、不断更新</h4><p>首度通过云平台向检测者发布检测报告。这份报告完整、全面且便于携带和使用。对未知基因变异，通过跟踪科研前沿资料，实时跟踪解读</p>
            </div>
            <div class="col-md-6 list-group-item">
                        <img src="/static/assets/img/ex6.png">
                        <h4 class="blod">价格优势</h4><p>相对于传统的“基因组”测序，虽然一字之差,但首度"全基因"测序，节省大量成本；同时，不减少其功用</p>
            </div>
        </div>
    </div>


    <div class="section img">
        <h1 class="blod">PRODUCT SERVICE FLOW</h1>
        <h3 class="regular">产品服务流程</h3>
        <img style="max-height:400px;width: 75%;margin-left: 0;" src="http://images.firstdimension.cn/0508-c.png">
    </div>
    <div class="section img">
        <h1 class="blod">SAMPLE HANDLING </h1>
        <h3 class="regular">样品采集及运输</h3>
        <img class="visible-sm-block visible-xs-block" src="http://images.firstdimension.cn/yangben.png">
        <table class="hidden-sm hidden-xs">
            <thead>
                <tr>
                    <th class="nowrap">样本类型</th>
                    <th>采样要求</th>
                    <th>运输条件</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>外周血</td>
                    <td>5ml全血，专用的Cell free DNA tube（cfDNA保存管）收集,采血后请立即轻柔颠倒1 0次使血液与管内成分混匀</td>
                    <td>防压、防漏，常温运输</td>
                    <td>建议自样本取出72h 内送检</td>
                </tr>
                <tr>
                    <td>口腔拭子</td>
                    <td>用2个拭子各旋转刮拭脸颊内侧20次，请尽量避免接触牙齿和舌头</td>
                    <td>常温运输</td>
                    <td>严格按说明书操作</td>
                </tr>
            </tbody>
        </table>
        <span>备注：采样前30分钟，请用清水漱口，并在30分钟内停止进食、饮水、吸烟或嚼口香糖。</span>
    </div>
</div>
{% endblock %} {% block script %}
<script>
    if({{price}}==111){
        alert("{{tips}}")
    }else{
        console.log("test");
    }
     

    
     
$(function() {
       
        var name =$.cookie("name");
     $("#buy").click(function(){
        
        if(name==null){
            //alert("请登陆以后再购买");
            window.location.href="/user/login";
        }else{
         var number1 =$("#number").val();
        $("#number1").val(number1);
        //alert(number1);
        $("#form1").submit();
        }
        
        /*var price=$("#price").val();
        var itemId =$("#itemId").val();
        var number =$("#number").val();
        var infor={
            price:price,
            itemId:itemId,
            number:number
        }
       // window.location.href="/production/buy";
       // alert(price+number+itemId);
        $.ajax({
            method:"GET",
            
            dataType:"json",
            url:"/production/buy",
            data:infor,
            success:function(msg){
                console.log("buy success");
                
                console.log(msg);
            },
            error:function(){
                console.log("buy fail");
            }
        })*/
     })

    var data = $('.pro-nav>li.active').attr('data-name');
    $('.introduce[data-name = ' + data + ']').css('display', 'block');
    $('.pro-nav>li').click(function(e) {
        $('.introduce[data-name = ' + data + ']').css('display', 'none');
        $('.pro-nav>li.active').removeClass('active');
        $(this).addClass('active');
        data = $('.pro-nav>li.active').attr('data-name');
        $('.introduce[data-name = ' + data + ']').css('display', 'block');
    });
    $('.spinner').spinner();

});




</script>
{% endblock %}
