<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>首度生物科技（苏州）有限公司 | 基因检测-肿瘤基因-癌症检测-靶向药物</title>
    <link rel="shortcut icon"  href="/static/assets/img/16.png">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/base.css">
    <link rel="stylesheet" href="/static/assets/css/max.css">  
     <link rel="stylesheet" href="/static/assets/css/middle.css">   
    <link rel="stylesheet" href="/static/assets/css/jquery.spinner.css">
    <link rel="stylesheet" href="/static/assets/css/min.css"> {% block style %}{% endblock %}
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!--数字插件-->
    <script type="text/javascript" src="/static/assets/js/jquery.spinner.js"></script>
    <script type="text/javascript" src="/static/assets/js/cookie.js"></script>
    <script type="text/javascript" src="/static/assets/js/angular.min.js"></script>


</head>

<body>
    <header class="header">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand navbar-brand-img hidden-xs hidden-sm" href="/"><img src="/static/assets/img/logo.png" alt=""></a>
                    <a class="navbar-brand navbar-brand-des visible-xs-inline-block" href="/">首度基因</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav fright" id="menu" role="tablist">
                        <li class="dropdown" class="active"><a href="/"><span>首页</span></a></li>
                        <li class="dropdown"><a href="/about" ><span>关于我们</span></a></li>
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <span>产品服务</span><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="/production/exome">FD-Exome</a>
                                </li>
                                <li>
                                    <a href="/production/fd180">FD-180系列</a>
                                </li>
                                <li>
                                    <a href="/production/fd600">FD-600系列</a>
                                </li>
                                 <li>
                                    <a href="/production/index">FD-Soft-Suite</a>
                                </li>
                                
                                <li>
                                    <a href="/report/query">订单查询</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>资讯中心</span>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="/news?type=0">首度新闻</a>
                                </li>
                                <li>
                                    <a href="/news?type=1">行业动态</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="/agent/index">
                        <span>代理加盟</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>加入我们</span><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="/contact"><span>联系我们</span></a>
                                </li>
                                <li>
                                    <a href="/join/index?action=display">员工风采</a>
                                </li>
                                <li>
                                    <a href="/join/index?action=recruit">诚聘英才</a>
                                </li>
                            </ul>
                        </li>
                        <!-- <li class="dropdown hidden-xs"><a href="http://www.shoudujiyin.com/report"><img src="/static/assets/img/search.png" alt=""></a></li> -->
                        <li class="dropdown" ><a href="/user/login"  id="login">登陆</a></li>
                        
                       
                        <li class="dropdown"><a href="/user/register"  id="register" class="register1">注册</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <footer class="footer">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h4 class="scroll-top"><img src="/static/assets/img/up.png"></h4>
                
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="footer-box">
                    
                        <p>地址：江苏省苏州市工业园区生物纳米园B8栋5楼</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;安徽省合肥市高新区创新大道2800号创新产业园二期E3栋2楼</p>
                        <p>苏州总部：0512-6298-7012 &nbsp;&nbsp;合肥检验所：0551-6456-6558&nbsp;&nbsp;招商热线：0512-62987010-8009&nbsp;&nbsp;</p>
                        <p>友情链接 ：
                            <a href="http://www.dnalover.com/" style="color: #fff;" target="_blank">基因检测&nbsp;</a>
                            <a href="http://www.bio360.net" style="color: #fff;" target="_blank">生物360&nbsp;</a>
                            <a href="http://www.dnaspeaking.com" style="color: #fff;" target="_blank">序说DNASpeaking</a>
                        </p>
                </div>
                <div class="copyright">
                    Copyright©2016首度生物科技（苏州）有限公司 <a href="http://www.miitbeian.gov.cn">苏ICP备16044804号</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 hidden-xs">
                <img src="/static/assets/img/towcode.png" alt="">
            </div>
        </div>
    </footer>
    {% block script %}{% endblock %}
    <script type="text/javascript">
        

        

    $(function() {
        var username = $.cookie("name");
        if(username!=null){
            $("#login").text(username);
            $("#login").attr("href","#");
            $("#register").text("退出");
            $("#register").attr("href","#");
            $("#register").attr("id","destory");

        }
        $("#destory").click(function(){
          
            window.location.href="/index/cleancookie"

        })

      
        
        //导航栏
        $('.navbar-nav>.dropdown').click(function() {
            if ($(this).find('ul').length || !$(this).attr('data-name')) {
                return;

            } else {
                var pathname = $(this).attr('data-name');
                window.location.pathname = pathname;
            }
        });

       
        $('.navbar-nav>.dropdown .dropdown-menu>li').click(function(event) {
            $(this).parent('li').removeClass('open');
            event.stopPropagation();
        });
        $('.navbar-nav>.dropdown').mouseout(function(event) {

            if ($(this).hasClass('open')) {
                $(this).removeClass('open');
            }
        });
        $('.navbar-nav>.dropdown').mouseover(function() {
            // console.log($(this))
            $(this).addClass('open');
        });
        //$('.navbar-nav>.dropdown').hover(function() {
            
            //$(this).find('ul').show();
       // }, function() {
           // $(this).find('ul').hide();
       // });


        //回到顶部
        
         
       
        $(".scroll-top").hide();

        //scroll() 方法为滚动事件  
        $(window).scroll(function(){  
            if ($(window).scrollTop()>600){  
                $(".scroll-top").fadeIn(500);  
            }else{  
                $(".scroll-top").fadeOut(500);  
                }
            });  

      
        $('.scroll-top').click(function(e){
            $('html,body').animate({scrollTop:'0px'},1000);
        });

        var height = $('footer').height();
        console.log(height)
        $('#fullpage').css('min-height','calc( 100% - '+height+'px)')
        
    });
    </script>
    <!-- <script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff089a6a6fd6d0d0b72bd2224e6bd7cfd' type='text/javascript'%3E%3C/script%3E")) </script> -->
</body>

</html>
