<div class="row">
    <div class="col-lg-12 portlets">
        <div class="panel">
            <div class="panel-content">
                <div class="row">
                    <form class=" form-horizontal">
                        <div class="col-md-12">
                            <h3 style="padding-bottom:10px;">
                                <strong>
                                    直播提示信息
                                </strong>
                            </h3>
                            <p>
                                该提示信息当用户进入直播房间时给出的提示信息，该设置会影响前端用户的使用，请务必认真填写
                            </p>
                            <div class="row" style="padding-top:20px;">
                                    <!-- <div class = "row test" style="padding-bottom:15px;">
                                        <label class="col-sm-3 control-label" style="margin-left:15px;">
                                            标题
                                        </label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" ng-class="class" ng-model="about.title"  ng-readonly="read" required/>
                                        </div>
                                    </div> -->
                                    <div class="row">
                                        <label class="col-sm-2 col-md-1 col-lg-1 control-label" style="margin-left:15px;">
                                            提示信息
                                        </label>
                                        <div class="col-sm-8 col-md-9 col-lg-9">
                                            <textarea type="text" rows="9" class="form-control" ng-class="class" ng-model="dictionary.content"  ng-readonly="read" required>
                                            </textarea>
                                        </div>
                                    </div>
                                      <!-- <div class="row" style="padding-top:20px;">
                                        <label class="col-sm-3 control-label" style="margin-left:15px;">
                                            客服电话
                                        </label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" ng-class="class" ng-model="serviceTel"  ng-readonly="read" required/>
                                        </div>
                                    </div> -->
                                    <div class="row" style="margin-top:15px;">
                                        <div class="col-sm-2" ng-show="edit" style="float:right;">
                                            <button type="button" class="btn btn-blue"   ng-click="editButton()">
                                                修改
                                            </button>
                                        </div>
                                        <div class="col-sm-2" ng-show="save" style="float:right;">
                                            <button type="button" class="btn btn-info"  ng-click="saveButton()">
                                                保存
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
