<div class="row">
    <div class="col-lg-12 portlets">
        <div class="panel">
            <div class="panel-header">
                <h3>
                    <i class="icon-bulb"></i>
                    <strong>
                        直播列表排序
                    </strong>
                    <p style="text-indent: 1em;padding-top: 10px;text-transform: initial;">
                        <span>
                            选择排序方式后点击“保存”按钮进行保存
                        </span>
                    </p>
                </h3>
            </div>
            <div class="panel-content" style="padding: 0 20px; margin-bottom: 10px;">
                <div class="row">
                    <form role="form" class="form-horizontal form-validation">
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-lg-2 control-label" style="margin-left:15px;">
                                直播排序方式
                            </label>
                            <!-- <input type="radio" name="name" value="test"> -->
                            <div class="col-sm-2 input-group">
                                <div class="icheck-inline">
                                    <label><input type="radio" id="liveAuto"ng-model="live.value1" name="articleType" value="1" data-radio="iradio_square-blue">
                                        自动</label>
                                    <label><input type="radio" id="liveManual" ng-model="live.value1" name="articleType" value="0" checked data-radio="iradio_square-blue">
                                        手动</label>
                                </div>
                            </div>
                            <div class="col-sm-1" style="float:right;margin-right:20px;" ng-show = "saveLive">
                                <button type="button" class="btn btn-info" ng-click="saveButton()" ng-disabled="liveDisable">
                                    保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                <h3>
                    <i class="icon-bulb"></i>
                    <strong>
                        直播自动排序限制设置
                    </strong>
                    <p style="text-indent: 1em;padding-top: 10px;text-transform: initial;">
                        <span>
                            该设置只有在自动模式下启动，该数量为直播的实时观看人数
                        </span>
                    </p>
                </h3>
            </div>
            <div class="panel-content" style="padding: 0 20px; margin-bottom: 10px;">
                <div class="row">
                    <form role="form" class="form-horizontal form-validation">
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-lg-2 control-label" style="margin-left:15px;">
                                实时观看人数限制
                            </label>
                            <div class="col-sm-1">
                                <input type="text" id="liveValue2" name="liveValue2" ng-model="live.value2" ng-readonly="liveRead" ng-class="liveClass" class="form-control digits" required/>
                            </div>
                            <div class="col-sm-1" ng-show="editLiveNum">
                                <button type="button" class="btn btn-blue" ng-click="editLiveNumButton()">
                                    修改
                                </button>
                            </div>
                            <div class="col-sm-1" ng-show="saveLiveNum">
                                <button type="button" class="btn btn-info" ng-click="saveLiveNumButton()" ng-disabled="liveNumDisable">
                                    保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                <h3>
                    <i class="icon-bulb"></i>
                    <strong>
                        问禅列表排序
                    </strong>
                    <p style="text-indent: 1em;padding-top: 10px;text-transform: initial;">
                        <span>
                            选择排序方式后点击“保存”按钮进行保存
                        </span>
                    </p>
                </h3>
            </div>
            <div class="panel-content" style="padding: 0 20px; margin-bottom: 10px;">
                <div class="row">
                    <form role="form" class="form-horizontal form-validation">
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-lg-2 control-label" style="margin-left:15px;">
                                问禅排序方式
                            </label>
                            <div class="col-sm-2 input-group">
                                <div class="icheck-inline">
                                    <label><input type="radio" id="questionAuto"ng-model="question.value1" name="questionType" value="1" data-radio="iradio_square-blue">
                                        自动</label>
                                    <label><input type="radio" id="questionManual" ng-model="question.value1" name="questionType" value="0" checked data-radio="iradio_square-blue">
                                        手动</label>
                                </div>
                            </div>
                            <div class="col-sm-1" style="float:right;margin-right:20px;" ng-show = "saveQuestion">
                                <button type="button" class="btn btn-info" ng-click="saveQuestionButton()" ng-disabled="questionDisable">
                                    保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-header">
                <h3>
                    <i class="icon-bulb"></i>
                    <strong>
                        问禅自动排序限制设置
                    </strong>
                    <p style="text-indent: 1em;padding-top: 10px;text-transform: initial;">
                        <span>
                            该设置只有在自动模式下启动，该数量为问禅的回答数量
                        </span>
                    </p>
                </h3>
            </div>
            <div class="panel-content" style="padding: 0 20px; margin-bottom: 10px;">
                <div class="row">
                    <form role="form" class="form-horizontal form-validation">
                        <div class="form-group">
                            <label class="col-sm-4 col-md-4 col-lg-2 control-label" style="margin-left:15px;">
                                限制回答数量
                            </label>
                            <div class="col-sm-1">
                                <input type="text" id="questionValue2" name="questionValue2" ng-model="question.value2" ng-readonly="questionRead" ng-class="questionClass" class="form-control digits" required/>
                            </div>
                            <div class="col-sm-1" ng-show="editQuestionNum">
                                <button type="button" class="btn btn-blue" ng-click="editQuestionNumButton()">
                                    修改
                                </button>
                            </div>
                            <div class="col-sm-1" ng-show="saveQuestionNum">
                                <button type="button" class="btn btn-info" ng-click="saveQuestionNumButton()" ng-disabled="questionNumDisable">
                                    保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
