<div class="row" style="margin-left:15%;margin-right:15%;">
    <div class="panel panel-default">
        <div class="panel-header bg-indigo">
            <h2 class="panel-title">
                <strong>
                    修改用户信息
                </strong>
            </h2>
        </div>
        <div class="panel-content bg-white">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p style="font-family: '楷体';font-size: 17px;">
                        <i class="fa fa-exclamation-circle">
                        </i>
                        务必认真填写以下信息(此修改会影响前端用户的使用)
                    </p>
                    <br/>
                    <form class="form-horizontal form-validation selector" ng-submit="submit()" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                昵称
                            </label>
                            <div class="col-sm-7 prepend-icon">
                                <input class="form-control" id="nickName" name="nickName" ng-model="user.profile.nickname" placeholder="请输入用户昵称." required="" type="text" rangelength="[2,40]"/>
                                <i class="fa fa-pencil-square-o">
                                </i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                性别
                            </label>
                            <div class="col-sm-7 prepend-icon">
                                <div class="icheck-inline input-group">
                                    <label><input type="radio" ng-model="user.profile.gender" name="gender" id="man" value="1" data-radio="iradio_square-blue">
                                        男</label>
                                    <label><input type="radio" ng-model="user.profile.gender" name="gender" id="woman" value="2" data-radio="iradio_square-blue">
                                        女</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                所在地
                            </label>
                            <div class="col-sm-7 prepend-icon">
                                <input class="form-control" id="address" name="address" ng-model="user.profile.city" placeholder="请输入用户所在地." required="" type="text"/>
                                <i class="fa fa-pencil-square-o">
                                </i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">
                                头像
                            </label>
                            <div class="col-sm-10" style="margin-left:150px;margin-top:-12px;">
                                <div class="col-sm-7">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="width:150px;height:150px;">
                                            <img alt="gallery 3" src="../../global/images/300.png" class="img-responsive" ng-src="{{user.profile.avatar}}"/>
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail" style="width:70%;height:70%;">
                                        </div>
                                        <div>
                                            <span class="btn btn-default btn-file" style="margin-left:4%;">
                                                <span class="fileinput-new select">
                                                    选择头像
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="pull-right">
                                    <button class="btn btn-embossed btn-primary m-b-10 m-r-20" type="submit">
                                        提交
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .thumbnail{
        border:0px !important;
    }
    .bg-indigo{
     background-color: #619BD4 !important;
     color:#fff !important;
    }
</style>
