<div>
    <div class="modal-header bg-primary">
        <button aria-label="Close" class="close" data-dismiss="modal" ng-click="close()" type="button">
            <span aria-hidden="true">
                ×
            </span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            会员卡充值
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p>
                    <i class="fa fa-exclamation-circle">
                    </i>
                    务必认真填写以下信息
                </p>
                <br/>
                <form class="form-horizontal form-validation" id="company" ng-submit="submit()" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            充值金额
                        </label>
                        <div class="col-sm-9 prepend-icon">
                          <input class="form-control digits" name="price" ng-model="price" placeholder="请输入充值金额(必须输入整数)"required type="text"/>
                          <i class="fa fa-money">
                          </i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="pull-right">
                                <button class="btn btn-embossed btn-primary m-b-10 m-r-20" type="submit" ng-disabled="disable">
                                    确认
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
